.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26659-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26669-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32697-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32714-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26613-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26580-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26545-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26608-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26572-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26539-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26561-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26566-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26694-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26786-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26771-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26744-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26750-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26796-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26730-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26717-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26708-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26778-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26725-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26738-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26757-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26703-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26767-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26801-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26786,#u26771,#u26744,#u26750,#u26796,#u26730,#u26717,#u26708,#u26778,#u26725,#u26738,#u26757,#u26703,#u26767,#u26801
{
	font-family: '__FontAwesome_5';
}

#u26633-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26628-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26620-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26639-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26647-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26682-4
{
	font-family: open-sans-n4, sans-serif;
}

#u34567-4,#u34561-4,#u34565-4
{
	font-family: '__et-line_5';
}

#u34610-5,#u34607-5,#u34609-7
{
	font-family: open-sans-n7, sans-serif;
}

#u34549-4,#u34551-6,#u34550-4,#u34571-4,#u34568-4,#u34562-4,#u34564-4,#u34597-4,#u34595-4,#u34601-4,#u34608-4,#u34612-4,#u34617-4
{
	font-family: dosis-n4, sans-serif;
}

#u34616-4
{
	font-family: dosis-n4, sans-serif;
}

#u34621-4
{
	font-family: dosis-n4, sans-serif;
}

#u34622-4
{
	font-family: dosis-n4, sans-serif;
}

#u34624-4
{
	font-family: dosis-n4, sans-serif;
}

#u34625-4
{
	font-family: dosis-n4, sans-serif;
}

#u34631-4
{
	font-family: dosis-n4, sans-serif;
}

#u34632-4
{
	font-family: dosis-n4, sans-serif;
}

#u34570-4,#u34598-4,#u34594-4,#u34600-4,#u34610-2,#u34607-2,#u34609-2,#u34609-3,#u34604-4,#u34605-4,#u34640-5
{
	font-family: open-sans-n4, sans-serif;
}

#u34638-5
{
	font-family: open-sans-n4, sans-serif;
}

#u34636-5
{
	font-family: open-sans-n4, sans-serif;
}

#u34592-4,#u34578-4,#u34640,#u34638,#u34636-2
{
	font-family: '__FontAwesome_5';
}

