.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26945-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26952-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33239-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33257-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26958-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26965-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27024-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27015-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27008-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26973-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26995-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26987-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27027-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27003-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26979-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26919-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26879-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26907-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26899-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26850-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26855-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26823-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26913-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26863-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26829-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26870-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26891-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26886-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26879,#u26907,#u26899,#u26850,#u26816,#u26837,#u26855,#u26823,#u26845,#u26913,#u26863,#u26829,#u26870,#u26891,#u26886
{
	font-family: '__FontAwesome_5';
}

#u27078-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27067-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27076-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27042-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27059-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27050-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26924-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26930-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26937-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32646-4
{
	font-family: '__FontAwesome_5';
}

#u32645-4
{
	font-family: '__FontAwesome_5';
}

#u32666-4
{
	font-family: '__FontAwesome_5';
}

#u32667-4
{
	font-family: dosis-n4, sans-serif;
}

#u32657-4,#u32656-4,#u32290-4,#u32292-5
{
	font-family: dosis-n4, sans-serif;
}

#u32473-4
{
	font-family: '__et-line_5';
}

#u32480-4,#u32474-4
{
	font-family: dosis-n4, sans-serif;
}

#u32476-4
{
	font-family: '__et-line_5';
}

#u32477-4
{
	font-family: dosis-n4, sans-serif;
}

#u32471-4
{
	font-family: '__et-line_5';
}

#u32470-4
{
	font-family: dosis-n4, sans-serif;
}

#u32481-5
{
	font-family: dosis-n4, sans-serif;
}

#u32280-4,#u32281-4,#u32287-4,#u32289-4,#u32291-4,#u32285-4,#u32284-4,#u32457-7,#u32456-4,#u32459-7,#u32460-4,#u32463-7,#u32462-4,#u32448-4,#u32447-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32449-4,#u32508-4,#u32502-4,#u32506-4,#u32512-4,#u32531-4,#u32517-4
{
	font-family: dosis-n4, sans-serif;
}

#u32518-4
{
	font-family: dosis-n4, sans-serif;
}

#u32524-4
{
	font-family: dosis-n4, sans-serif;
}

#u32525-4
{
	font-family: dosis-n4, sans-serif;
}

#u32528-4
{
	font-family: dosis-n4, sans-serif;
}

#u32527-4
{
	font-family: dosis-n4, sans-serif;
}

#u32509-4,#u32515-4,#u32536-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32534-4,#u32576-4,#u32595-4,#u32600-4,#u32586-4,#u32580-4,#u32592-4,#u32582-4,#u32565-4,#u32571-4,#u32558-4,#u32420-4,#u32403-5
{
	font-family: dosis-n4, sans-serif;
}

#u32406-4
{
	font-family: open-sans-n7, sans-serif;
}

#u32409-4
{
	font-family: dosis-n4, sans-serif;
}

#u32596-4,#u32599-4,#u32587-4,#u32579-4,#u32591-4,#u32583-4,#u32563-4,#u32566-4,#u32569-4,#u32570-4,#u32560-4,#u32557-4,#u32411-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32414-4
{
	font-family: dosis-n4, sans-serif;
}

#u32416-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32427-4
{
	font-family: dosis-n4, sans-serif;
}

#u32423-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32430-4
{
	font-family: dosis-n4, sans-serif;
}

#u32412-4,#u32419-4,#u32424-4,#u32429-4
{
	font-family: open-sans-n7, sans-serif;
}

#u32432-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32305-4,#u32303-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32400-4,#u32399-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32503-4,#u32505-4,#u32511-4,#u32594-4,#u32598-4,#u32588-4,#u32578-4,#u32590-4,#u32584-4,#u32564-4,#u32572-4,#u32559-4,#u32335-4,#u32339-4,#u32332-4,#u32344-4,#u32354-4,#u32350-4,#u32357-4,#u32363-4,#u32365-4
{
	font-family: '__et-line_5';
}

#u32304-4,#u32401-4,#u32337-4,#u32340-4,#u32333-4,#u32346-4,#u32353-4,#u32349-4,#u32358-4,#u32362-4,#u32366-4,#u32189-4,#u32190-5
{
	font-family: dosis-n4, sans-serif;
}

#u32198-4
{
	font-family: dosis-n4, sans-serif;
}

#u32336-4,#u32341-4,#u32331-4,#u32345-4,#u32352-4,#u32348-4,#u32359-4,#u32361-4,#u32367-4,#u32194-4,#u32193-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32195-4,#u32201-4
{
	font-family: dosis-n4, sans-serif;
}

#u32200-4,#u32203-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32204-4,#u32211-4
{
	font-family: dosis-n4, sans-serif;
}

#u32212-4,#u32214-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32149-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu32143.frm-sub-st #u32144-4 p,#widgetu32143.frm-subm-err-st #u32145-4 p,#widgetu32143.frm-subm-ok-st #u32147-4 p,#u32154-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu32148_input,#widgetu32148_prompt,#widgetu32152_input
{
	font-family: open-sans, sans-serif;
}

#u32292-2,#u32481-2,#u32553-4,#u32551-4,#u32403-2,#u32411,#u32416,#u32423,#u32432,#u32308-4,#u32310-4,#u32382-4,#u32394-4,#u32190-2,#u32193-2,#u32203-2,#u32214-2,#u32142
{
	font-family: '__FontAwesome_5';
}

#u32208-4,#u32156-4,#u32241-4,#u32245-4,#u32232-4,#u32230-4,#u32237-4
{
	font-family: dosis-n4, sans-serif;
}

#u32142-5,#u32244-4,#u32233-4,#u32231-4,#u32239-4
{
	font-family: open-sans-n4, sans-serif;
}

