.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26659-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26669-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32697-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32714-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26613-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26580-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26545-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26608-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26572-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26539-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26561-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26566-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26694-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26786-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26771-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26744-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26750-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26796-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26730-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26717-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26708-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26778-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26725-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26738-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26757-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26703-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26767-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26801-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26786,#u26771,#u26744,#u26750,#u26796,#u26730,#u26717,#u26708,#u26778,#u26725,#u26738,#u26757,#u26703,#u26767,#u26801
{
	font-family: '__FontAwesome_5';
}

#u26633-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26628-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26620-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26639-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26647-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26682-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36530-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu36519.frm-sub-st #u36546-4 p,#widgetu36519.frm-subm-err-st #u36533-4 p,#widgetu36519.frm-subm-ok-st #u36547-4 p,#u36544-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36527-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36536-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36540-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36521-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36548-5,#u36559-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu36549.frm-sub-st #u36560-4 p,#widgetu36549.frm-subm-err-st #u36555-4 p,#widgetu36549.frm-subm-ok-st #u36565-4 p,#u36562-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36552-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36572-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu36570.frm-sub-st #u36584-4 p,#widgetu36570.frm-subm-err-st #u36586-4 p,#widgetu36570.frm-subm-ok-st #u36585-4 p,#u36582-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36578-4
{
	font-family: open-sans-n4, sans-serif;
}

#u36480-4,#u36479-9,#u36481-4,#u36567-4,#u36517-4
{
	font-family: dosis-n4, sans-serif;
}

#u36569-5,#u36507-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu36503.frm-sub-st #u36514-4 p,#widgetu36503.frm-subm-err-st #u36504-4 p,#widgetu36503.frm-subm-ok-st #u36513-4 p,#u36511-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu36528_input,#widgetu36528_prompt,#widgetu36542_input,#widgetu36524_input,#widgetu36524_prompt,#widgetu36534_input,#widgetu36534_prompt,#widgetu36538_input,#widgetu36538_prompt,#widgetu36520_input,#widgetu36520_prompt,#widgetu36556_input,#widgetu36556_prompt,#widgetu36561_input,#widgetu36551_input,#widgetu36551_prompt,#widgetu36571_input,#widgetu36571_prompt,#widgetu36579_input,#widgetu36575_input,#widgetu36575_prompt,#widgetu36505_input,#widgetu36505_prompt,#widgetu36509_input
{
	font-family: open-sans, sans-serif;
}

#u36516-5
{
	font-family: open-sans-n4, sans-serif;
}

#u36548,#u36569,#u36516
{
	font-family: '__FontAwesome_5';
}

