.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26945-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26952-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33239-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33257-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26958-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26965-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27024-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27015-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27008-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26973-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26995-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26987-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27027-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27003-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26979-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26919-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26879-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26907-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26899-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26850-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26855-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26823-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26913-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26863-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26829-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26870-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26891-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26886-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26879,#u26907,#u26899,#u26850,#u26816,#u26837,#u26855,#u26823,#u26845,#u26913,#u26863,#u26829,#u26870,#u26891,#u26886
{
	font-family: '__FontAwesome_5';
}

#u27078-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27067-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27076-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27042-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27059-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27050-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26924-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26930-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26937-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31031-4
{
	font-family: open-sans-n3, sans-serif;
}

#u31032-4,#u31158-4,#u31160-5
{
	font-family: dosis-n4, sans-serif;
}

#u31341-4
{
	font-family: '__et-line_5';
}

#u31348-4,#u31342-4
{
	font-family: dosis-n4, sans-serif;
}

#u31344-4
{
	font-family: '__et-line_5';
}

#u31345-4
{
	font-family: dosis-n4, sans-serif;
}

#u31339-4
{
	font-family: '__et-line_5';
}

#u31338-4
{
	font-family: dosis-n4, sans-serif;
}

#u31349-5
{
	font-family: dosis-n4, sans-serif;
}

#u31148-4,#u31149-4,#u31155-4,#u31157-4,#u31159-4,#u31153-4,#u31152-4,#u31325-7,#u31324-4,#u31327-7,#u31328-4,#u31331-7,#u31330-4,#u31316-4,#u31315-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31317-4,#u31376-4,#u31370-4,#u31374-4,#u31380-4,#u31399-4,#u31385-4
{
	font-family: dosis-n4, sans-serif;
}

#u31386-4
{
	font-family: dosis-n4, sans-serif;
}

#u31392-4
{
	font-family: dosis-n4, sans-serif;
}

#u31393-4
{
	font-family: dosis-n4, sans-serif;
}

#u31396-4
{
	font-family: dosis-n4, sans-serif;
}

#u31395-4
{
	font-family: dosis-n4, sans-serif;
}

#u31377-4,#u31383-4,#u31404-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31402-4,#u31444-4,#u31463-4,#u31468-4,#u31454-4,#u31448-4,#u31460-4,#u31450-4,#u31433-4,#u31439-4,#u31426-4,#u31288-4,#u31271-5
{
	font-family: dosis-n4, sans-serif;
}

#u31274-4
{
	font-family: open-sans-n7, sans-serif;
}

#u31277-4
{
	font-family: dosis-n4, sans-serif;
}

#u31464-4,#u31467-4,#u31455-4,#u31447-4,#u31459-4,#u31451-4,#u31431-4,#u31434-4,#u31437-4,#u31438-4,#u31428-4,#u31425-4,#u31279-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31282-4
{
	font-family: dosis-n4, sans-serif;
}

#u31284-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31295-4
{
	font-family: dosis-n4, sans-serif;
}

#u31291-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31298-4
{
	font-family: dosis-n4, sans-serif;
}

#u31280-4,#u31287-4,#u31292-4,#u31297-4
{
	font-family: open-sans-n7, sans-serif;
}

#u31300-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31173-4,#u31171-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31268-4,#u31267-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31371-4,#u31373-4,#u31379-4,#u31462-4,#u31466-4,#u31456-4,#u31446-4,#u31458-4,#u31452-4,#u31432-4,#u31440-4,#u31427-4,#u31203-4,#u31207-4,#u31200-4,#u31212-4,#u31222-4,#u31218-4,#u31225-4,#u31231-4,#u31233-4
{
	font-family: '__et-line_5';
}

#u31172-4,#u31269-4,#u31205-4,#u31208-4,#u31201-4,#u31214-4,#u31221-4,#u31217-4,#u31226-4,#u31230-4,#u31234-4,#u31057-4,#u31058-5
{
	font-family: dosis-n4, sans-serif;
}

#u31066-4
{
	font-family: dosis-n4, sans-serif;
}

#u31204-4,#u31209-4,#u31199-4,#u31213-4,#u31220-4,#u31216-4,#u31227-4,#u31229-4,#u31235-4,#u31062-4,#u31061-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31063-4,#u31069-4
{
	font-family: dosis-n4, sans-serif;
}

#u31068-4,#u31071-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31072-4,#u31079-4
{
	font-family: dosis-n4, sans-serif;
}

#u31080-4,#u31082-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31017-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu31011.frm-sub-st #u31012-4 p,#widgetu31011.frm-subm-err-st #u31013-4 p,#widgetu31011.frm-subm-ok-st #u31015-4 p,#u31022-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu31016_input,#widgetu31016_prompt,#widgetu31020_input
{
	font-family: open-sans, sans-serif;
}

#u31160-2,#u31349-2,#u31421-4,#u31419-4,#u31271-2,#u31279,#u31284,#u31291,#u31300,#u31176-4,#u31178-4,#u31250-4,#u31262-4,#u31058-2,#u31061-2,#u31071-2,#u31082-2,#u31010
{
	font-family: '__FontAwesome_5';
}

#u31076-4,#u31024-4,#u31109-4,#u31113-4,#u31100-4,#u31098-4,#u31105-4
{
	font-family: dosis-n4, sans-serif;
}

#u31010-5,#u31112-4,#u31101-4,#u31099-4,#u31107-4
{
	font-family: open-sans-n4, sans-serif;
}

