.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26659-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26669-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32697-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32714-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26613-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26580-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26545-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26608-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26572-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26539-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26561-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26566-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26694-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26786-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26771-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26744-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26750-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26796-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26730-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26717-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26708-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26778-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26725-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26738-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26757-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26703-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26767-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26801-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26786,#u26771,#u26744,#u26750,#u26796,#u26730,#u26717,#u26708,#u26778,#u26725,#u26738,#u26757,#u26703,#u26767,#u26801
{
	font-family: '__FontAwesome_5';
}

#u26633-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26628-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26620-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26639-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26647-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26682-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33224-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33202-4,#u33225-4,#u33226-4,#u33227-4,#u32867-4,#u32869-5
{
	font-family: dosis-n4, sans-serif;
}

#u33050-4
{
	font-family: '__et-line_5';
}

#u33057-4,#u33051-4
{
	font-family: dosis-n4, sans-serif;
}

#u33053-4
{
	font-family: '__et-line_5';
}

#u33054-4
{
	font-family: dosis-n4, sans-serif;
}

#u33048-4
{
	font-family: '__et-line_5';
}

#u33047-4
{
	font-family: dosis-n4, sans-serif;
}

#u33058-5
{
	font-family: dosis-n4, sans-serif;
}

#u32857-4,#u32858-4,#u32864-4,#u32866-4,#u32868-4,#u32862-4,#u32861-4,#u33034-7,#u33033-4,#u33036-7,#u33037-4,#u33040-7,#u33039-4,#u33025-4,#u33024-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33026-4,#u33085-4,#u33079-4,#u33083-4,#u33089-4,#u33108-4,#u33094-4
{
	font-family: dosis-n4, sans-serif;
}

#u33095-4
{
	font-family: dosis-n4, sans-serif;
}

#u33101-4
{
	font-family: dosis-n4, sans-serif;
}

#u33102-4
{
	font-family: dosis-n4, sans-serif;
}

#u33105-4
{
	font-family: dosis-n4, sans-serif;
}

#u33104-4
{
	font-family: dosis-n4, sans-serif;
}

#u33086-4,#u33092-4,#u33113-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33111-4,#u33153-4,#u33172-4,#u33177-4,#u33163-4,#u33157-4,#u33169-4,#u33159-4,#u33142-4,#u33148-4,#u33135-4,#u32997-4,#u32980-5
{
	font-family: dosis-n4, sans-serif;
}

#u32983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u32986-4
{
	font-family: dosis-n4, sans-serif;
}

#u33173-4,#u33176-4,#u33164-4,#u33156-4,#u33168-4,#u33160-4,#u33140-4,#u33143-4,#u33146-4,#u33147-4,#u33137-4,#u33134-4,#u32988-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32991-4
{
	font-family: dosis-n4, sans-serif;
}

#u32993-5
{
	font-family: open-sans-n4, sans-serif;
}

#u33004-4
{
	font-family: dosis-n4, sans-serif;
}

#u33000-5
{
	font-family: open-sans-n4, sans-serif;
}

#u33007-4
{
	font-family: dosis-n4, sans-serif;
}

#u32989-4,#u32996-4,#u33001-4,#u33006-4
{
	font-family: open-sans-n7, sans-serif;
}

#u33009-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32882-4,#u32880-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32977-4,#u32976-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33080-4,#u33082-4,#u33088-4,#u33171-4,#u33175-4,#u33165-4,#u33155-4,#u33167-4,#u33161-4,#u33141-4,#u33149-4,#u33136-4,#u32912-4,#u32916-4,#u32909-4,#u32921-4,#u32931-4,#u32927-4,#u32934-4,#u32940-4,#u32942-4
{
	font-family: '__et-line_5';
}

#u32881-4,#u32978-4,#u32914-4,#u32917-4,#u32910-4,#u32923-4,#u32930-4,#u32926-4,#u32935-4,#u32939-4,#u32943-4,#u32766-4,#u32767-5
{
	font-family: dosis-n4, sans-serif;
}

#u32775-4
{
	font-family: dosis-n4, sans-serif;
}

#u32913-4,#u32918-4,#u32908-4,#u32922-4,#u32929-4,#u32925-4,#u32936-4,#u32938-4,#u32944-4,#u32771-4,#u32770-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32772-4,#u32778-4
{
	font-family: dosis-n4, sans-serif;
}

#u32777-4,#u32780-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32781-4,#u32788-4
{
	font-family: dosis-n4, sans-serif;
}

#u32789-4,#u32791-5
{
	font-family: open-sans-n4, sans-serif;
}

#u32726-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu32720.frm-sub-st #u32721-4 p,#widgetu32720.frm-subm-err-st #u32722-4 p,#widgetu32720.frm-subm-ok-st #u32724-4 p,#u32731-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu32725_input,#widgetu32725_prompt,#widgetu32729_input
{
	font-family: open-sans, sans-serif;
}

#u32869-2,#u33058-2,#u33130-4,#u33128-4,#u32980-2,#u32988,#u32993,#u33000,#u33009,#u32885-4,#u32887-4,#u32959-4,#u32971-4,#u32767-2,#u32770-2,#u32780-2,#u32791-2,#u32719
{
	font-family: '__FontAwesome_5';
}

#u32785-4,#u32733-4,#u32818-4,#u32822-4,#u32809-4,#u32807-4,#u32814-4
{
	font-family: dosis-n4, sans-serif;
}

#u32719-5,#u32821-4,#u32810-4,#u32808-4,#u32816-4
{
	font-family: open-sans-n4, sans-serif;
}

