.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26945-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26952-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33239-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33257-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26958-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26965-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27024-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27015-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27008-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26973-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26995-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26987-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27027-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27003-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26979-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26919-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26879-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26907-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26899-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26850-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26855-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26823-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26913-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26863-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26829-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26870-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26891-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26886-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26879,#u26907,#u26899,#u26850,#u26816,#u26837,#u26855,#u26823,#u26845,#u26913,#u26863,#u26829,#u26870,#u26891,#u26886
{
	font-family: '__FontAwesome_5';
}

#u27078-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27067-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27076-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27042-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27059-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27050-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26924-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26930-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26937-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27094-4
{
	font-family: open-sans-n3, sans-serif;
}

#u27095-4,#u27105-4,#u27106-5
{
	font-family: dosis-n4, sans-serif;
}

#u27162-4
{
	font-family: '__et-line_5';
}

#u27118-4,#u27161-4
{
	font-family: dosis-n4, sans-serif;
}

#u27152-4
{
	font-family: '__et-line_5';
}

#u27153-4
{
	font-family: dosis-n4, sans-serif;
}

#u27149-4
{
	font-family: '__et-line_5';
}

#u27150-4
{
	font-family: dosis-n4, sans-serif;
}

#u27163-5
{
	font-family: dosis-n4, sans-serif;
}

#u27103-4,#u27102-4,#u27115-4,#u27113-4,#u27107-4,#u27109-4,#u27110-4,#u27146-7,#u27145-4,#u27129-7,#u27128-4,#u27132-7,#u27134-4,#u27168-4,#u27167-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27169-4,#u27248-4,#u27242-4,#u27238-4,#u27244-4,#u27252-4,#u27267-4
{
	font-family: dosis-n4, sans-serif;
}

#u27264-4
{
	font-family: dosis-n4, sans-serif;
}

#u27259-4
{
	font-family: dosis-n4, sans-serif;
}

#u27262-4
{
	font-family: dosis-n4, sans-serif;
}

#u27254-4
{
	font-family: dosis-n4, sans-serif;
}

#u27255-4
{
	font-family: dosis-n4, sans-serif;
}

#u27247-4,#u27251-4,#u27270-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27271-4,#u27296-4,#u27300-4,#u27282-4,#u27291-4,#u27294-4,#u27285-4,#u27279-4,#u27317-4,#u27325-4,#u27331-4,#u27390-4,#u27366-5
{
	font-family: dosis-n4, sans-serif;
}

#u27385-4
{
	font-family: open-sans-n7, sans-serif;
}

#u27389-4
{
	font-family: dosis-n4, sans-serif;
}

#u27299-4,#u27283-4,#u27289-4,#u27295-4,#u27286-4,#u27278-4,#u27319-4,#u27320-4,#u27323-4,#u27326-4,#u27332-4,#u27329-4,#u27388-5
{
	font-family: open-sans-n4, sans-serif;
}

#u27373-4
{
	font-family: dosis-n4, sans-serif;
}

#u27372-5
{
	font-family: open-sans-n4, sans-serif;
}

#u27365-4
{
	font-family: dosis-n4, sans-serif;
}

#u27364-5
{
	font-family: open-sans-n4, sans-serif;
}

#u27379-4
{
	font-family: dosis-n4, sans-serif;
}

#u27386-4,#u27368-4,#u27362-4,#u27380-4
{
	font-family: open-sans-n7, sans-serif;
}

#u27378-5
{
	font-family: open-sans-n4, sans-serif;
}

#u27353-4,#u27356-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27394-4,#u27396-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27241-4,#u27239-4,#u27245-4,#u27298-4,#u27281-4,#u27290-4,#u27293-4,#u27287-4,#u27277-4,#u27318-4,#u27324-4,#u27330-4,#u27454-4,#u27450-4,#u27458-4,#u27439-4,#u27445-4,#u27435-4,#u27432-4,#u27428-4,#u27422-4
{
	font-family: '__et-line_5';
}

#u27354-4,#u27393-4,#u27452-4,#u27449-4,#u27457-4,#u27440-4,#u27443-4,#u27436-4,#u27431-4,#u27426-4,#u27424-4,#u27478-4,#u27479-5
{
	font-family: dosis-n4, sans-serif;
}

#u27489-4
{
	font-family: dosis-n4, sans-serif;
}

#u27453-4,#u27448-4,#u27456-4,#u27441-4,#u27444-4,#u27437-4,#u27430-4,#u27427-4,#u27423-4,#u27495-4,#u27493-5
{
	font-family: open-sans-n4, sans-serif;
}

#u27494-4,#u27484-4
{
	font-family: dosis-n4, sans-serif;
}

#u27487-4,#u27486-5
{
	font-family: open-sans-n4, sans-serif;
}

#u27483-4,#u27500-4
{
	font-family: dosis-n4, sans-serif;
}

#u27499-4,#u27498-5
{
	font-family: open-sans-n4, sans-serif;
}

#u27515-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu27513.frm-sub-st #u27519-4 p,#widgetu27513.frm-subm-err-st #u27518-4 p,#widgetu27513.frm-subm-ok-st #u27524-4 p,#u27522-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu27514_input,#widgetu27514_prompt,#widgetu27520_input
{
	font-family: open-sans, sans-serif;
}

#u27106-2,#u27163-2,#u27313-4,#u27311-4,#u27366-2,#u27388,#u27372,#u27364,#u27378,#u27347-4,#u27349-4,#u27413-4,#u27411-4,#u27479-2,#u27493-2,#u27486-2,#u27498-2,#u27511
{
	font-family: '__FontAwesome_5';
}

#u27503-4,#u27512-4,#u27548-4,#u27544-4,#u27537-4,#u27540-4,#u27530-4
{
	font-family: dosis-n4, sans-serif;
}

#u27511-5,#u27545-4,#u27536-4,#u27539-4,#u27529-4
{
	font-family: open-sans-n4, sans-serif;
}

