.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u212-4
{
	font-family: dosis-n4, sans-serif;
}

#u213-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20207-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20201-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28740-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30997-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28745-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20093-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20113-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20164-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20102-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20135-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20169-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20157-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20107-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20143-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20339-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20292-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20258-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20281-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20316-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20235-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20302-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20309-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20272-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20263-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20285-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20250-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20244-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20336-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20328-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20321-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20292,#u20258,#u20281,#u20316,#u20235,#u20302,#u20309,#u20272,#u20263,#u20285,#u20250,#u20244,#u20336,#u20328,#u20321
{
	font-family: '__FontAwesome_5';
}

#u20087-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20083-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20075-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20193-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20186-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20179-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20221-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20226-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1872-4,#u1879-4,#u1876-4
{
	font-family: '__et-line_5';
}

#u1968-5,#u1975-5,#u1977-7
{
	font-family: open-sans-n7, sans-serif;
}

#u1858-4,#u1860-6,#u1859-4,#u1870-4,#u1873-4,#u1878-4,#u1875-4,#u1950-4,#u1958-4,#u1963-4,#u1966-4,#u1992-4,#u2003-4
{
	font-family: dosis-n4, sans-serif;
}

#u2004-4
{
	font-family: dosis-n4, sans-serif;
}

#u2019-4
{
	font-family: dosis-n4, sans-serif;
}

#u2016-4
{
	font-family: dosis-n4, sans-serif;
}

#u2034-4
{
	font-family: dosis-n4, sans-serif;
}

#u2035-4
{
	font-family: dosis-n4, sans-serif;
}

#u2048-4
{
	font-family: dosis-n4, sans-serif;
}

#u2049-4
{
	font-family: dosis-n4, sans-serif;
}

#u1869-4,#u1951-4,#u1957-4,#u1964-4,#u1968-2,#u1975-2,#u1977-2,#u1977-3,#u1979-4,#u1981-4,#u2103-5
{
	font-family: open-sans-n4, sans-serif;
}

#u2101-5
{
	font-family: open-sans-n4, sans-serif;
}

#u2105-5
{
	font-family: open-sans-n4, sans-serif;
}

#u1902-4,#u1900-4,#u2103,#u2101,#u2105-2
{
	font-family: '__FontAwesome_5';
}

