.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u212-4
{
	font-family: dosis-n4, sans-serif;
}

#u213-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20207-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20201-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28740-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30997-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28745-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20093-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20113-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20164-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20102-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20135-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20169-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20157-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20107-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20143-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20339-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20292-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20258-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20281-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20316-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20235-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20302-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20309-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20272-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20263-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20285-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20250-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20244-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20336-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20328-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20321-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20292,#u20258,#u20281,#u20316,#u20235,#u20302,#u20309,#u20272,#u20263,#u20285,#u20250,#u20244,#u20336,#u20328,#u20321
{
	font-family: '__FontAwesome_5';
}

#u20087-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20083-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20075-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20193-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20186-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20179-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20221-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20226-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28598-4
{
	font-family: open-sans-n3, sans-serif;
}

#u28505.PamphletThumbSelected #u28506-4 p,#u28599-4,#u28574-4,#u28575-5
{
	font-family: dosis-n4, sans-serif;
}

#u28504-4
{
	font-family: '__et-line_5';
}

#u28534-4,#u28503-4
{
	font-family: dosis-n4, sans-serif;
}

#u28510-4
{
	font-family: '__et-line_5';
}

#u28509-4
{
	font-family: dosis-n4, sans-serif;
}

#u28500-4
{
	font-family: '__et-line_5';
}

#u28501-4
{
	font-family: dosis-n4, sans-serif;
}

#u28507-4
{
	font-family: '__et-line_5';
}

#u28506-4
{
	font-family: dosis-n4, sans-serif;
}

#u28498-4
{
	font-family: '__et-line_5';
}

#u28497-4
{
	font-family: dosis-n4, sans-serif;
}

#u28489-5
{
	font-family: dosis-n4, sans-serif;
}

#u28586-4,#u28587-4,#u28579-4,#u28578-4,#u28583-4,#u28581-4,#u28588-4,#u28589-4,#u28522-7,#u28523-4,#u28521-4,#u28529-7,#u28530-4,#u28531-4,#u28517-7,#u28518-4,#u28519-4,#u28527-7,#u28525-4,#u28526-4,#u28513-7,#u28514-4,#u28515-4,#u28486-4,#u28485-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28487-4,#u28405-4,#u28400-4,#u28408-4,#u28402-4,#u28386-4,#u28379-4
{
	font-family: dosis-n4, sans-serif;
}

#u28380-4
{
	font-family: dosis-n4, sans-serif;
}

#u28385-4
{
	font-family: dosis-n4, sans-serif;
}

#u28382-4
{
	font-family: dosis-n4, sans-serif;
}

#u28389-4
{
	font-family: dosis-n4, sans-serif;
}

#u28388-4
{
	font-family: dosis-n4, sans-serif;
}

#u28406-4,#u28392-4,#u28396-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28237-4
{
	font-family: open-sans-n7, sans-serif;
}

#u28394-4,#u28425-4,#u28428-4,#u28431-4,#u28439-4,#u28419-4,#u28423-4,#u28437-4,#u28464-4,#u28454-4,#u28461-4,#u28232-4,#u28238-4
{
	font-family: dosis-n4, sans-serif;
}

#u28429-4,#u28432-4,#u28440-4,#u28420-4,#u28424-4,#u28436-4,#u28465-4,#u28467-4,#u28452-4,#u28455-4,#u28460-4,#u28458-4,#u28241-5
{
	font-family: open-sans-n4, sans-serif;
}

#u28213-4
{
	font-family: dosis-n4, sans-serif;
}

#u28212-5
{
	font-family: open-sans-n4, sans-serif;
}

#u28220-4
{
	font-family: dosis-n4, sans-serif;
}

#u28219-5
{
	font-family: open-sans-n4, sans-serif;
}

#u28224-5
{
	font-family: dosis-n4, sans-serif;
}

#u28228-4
{
	font-family: dosis-n4, sans-serif;
}

#u28239-4,#u28216-4,#u28223-4,#u28229-4
{
	font-family: open-sans-n7, sans-serif;
}

#u28231-5
{
	font-family: open-sans-n4, sans-serif;
}

#u28270-4,#u28273-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28263-4,#u28265-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28399-4,#u28409-4,#u28403-4,#u28427-4,#u28433-4,#u28441-4,#u28418-4,#u28422-4,#u28435-4,#u28466-4,#u28453-4,#u28459-4,#u28188-4,#u28191-4,#u28195-4,#u28162-4,#u28168-4,#u28166-4,#u28174-4,#u28179-4,#u28182-4
{
	font-family: '__et-line_5';
}

#u28271-4,#u28266-4,#u28187-4,#u28192-4,#u28196-4,#u28161-4,#u28169-4,#u28165-4,#u28173-4,#u28177-4,#u28183-4,#u28621-4,#u28623-4
{
	font-family: dosis-n4, sans-serif;
}

#u28186-4,#u28190-4,#u28194-4,#u28160-4,#u28170-4,#u28164-4,#u28175-4,#u28178-4,#u28181-4,#u28629-4,#u28625-5
{
	font-family: open-sans-n4, sans-serif;
}

#u28628-4,#u28610-4
{
	font-family: dosis-n4, sans-serif;
}

#u28612-4,#u28607-5
{
	font-family: open-sans-n4, sans-serif;
}

#u28611-4,#u28630-5
{
	font-family: dosis-n4, sans-serif;
}

#u28618-4
{
	font-family: dosis-n4, sans-serif;
}

#u28617-4,#u28620-5
{
	font-family: open-sans-n4, sans-serif;
}

#u28359-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu28354.frm-sub-st #u28355-4 p,#widgetu28354.frm-subm-err-st #u28366-4 p,#widgetu28354.frm-subm-ok-st #u28356-4 p,#u28364-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu28357_input,#widgetu28357_prompt,#widgetu28362_input
{
	font-family: open-sans, sans-serif;
}

#u28575-2,#u28489-2,#u28444-4,#u28469-4,#u28241,#u28212,#u28219,#u28224-2,#u28231,#u28276-4,#u28290-4,#u28261-4,#u28259-4,#u28625-2,#u28607-2,#u28630-2,#u28620-2,#u28352
{
	font-family: '__FontAwesome_5';
}

#u28614-4,#u28353-4,#u28548-4,#u28553-4,#u28559-4,#u28564-4,#u28569-4
{
	font-family: dosis-n4, sans-serif;
}

#u28352-5,#u28554-4,#u28556-4,#u28561-4,#u28568-4
{
	font-family: open-sans-n4, sans-serif;
}

