.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u212-4
{
	font-family: dosis-n4, sans-serif;
}

#u213-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20804-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20813-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28752-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30281-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31002-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28759-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20719-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20748-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39133-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20729-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20734-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20778-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20792-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20741-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20781-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20771-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20762-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20796-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20757-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20925-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20883-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20897-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20822-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20905-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20854-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20877-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20863-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20919-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20827-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20848-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20869-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20891-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20840-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20833-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20912-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20883,#u20897,#u20822,#u20905,#u20854,#u20877,#u20863,#u20919,#u20827,#u20848,#u20869,#u20891,#u20840,#u20833,#u20912
{
	font-family: '__FontAwesome_5';
}

#u20693-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20687-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20680-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20671-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20660-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20666-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20699-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20708-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20712-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30832-4
{
	font-family: '__FontAwesome_5';
}

#u30821-4
{
	font-family: '__FontAwesome_5';
}

#u30969-4
{
	font-family: '__FontAwesome_5';
}

#u30414.PamphletThumbSelected #u30416-4 p,#u30976-4
{
	font-family: dosis-n4, sans-serif;
}

#u30963-4,#u30962-4,#u30373-4,#u30364-5
{
	font-family: dosis-n4, sans-serif;
}

#u30427-4
{
	font-family: '__et-line_5';
}

#u30410-4,#u30428-4
{
	font-family: dosis-n4, sans-serif;
}

#u30424-4
{
	font-family: '__et-line_5';
}

#u30425-4
{
	font-family: dosis-n4, sans-serif;
}

#u30422-4
{
	font-family: '__et-line_5';
}

#u30421-4
{
	font-family: dosis-n4, sans-serif;
}

#u30415-4
{
	font-family: '__et-line_5';
}

#u30416-4
{
	font-family: dosis-n4, sans-serif;
}

#u30419-4
{
	font-family: '__et-line_5';
}

#u30418-4
{
	font-family: dosis-n4, sans-serif;
}

#u30411-5
{
	font-family: dosis-n4, sans-serif;
}

#u30378-4,#u30379-4,#u30366-4,#u30368-4,#u30371-4,#u30370-4,#u30374-4,#u30375-4,#u30455-7,#u30453-4,#u30454-4,#u30441-7,#u30442-4,#u30443-4,#u30446-7,#u30447-4,#u30445-4,#u30439-7,#u30437-4,#u30438-4,#u30449-7,#u30450-4,#u30451-4,#u30458-4,#u30461-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30459-4,#u30323-4,#u30314-4,#u30317-4,#u30321-4,#u30294-4,#u30293-4
{
	font-family: dosis-n4, sans-serif;
}

#u30290-4
{
	font-family: dosis-n4, sans-serif;
}

#u30298-4
{
	font-family: dosis-n4, sans-serif;
}

#u30297-4
{
	font-family: dosis-n4, sans-serif;
}

#u30305-4
{
	font-family: dosis-n4, sans-serif;
}

#u30304-4
{
	font-family: dosis-n4, sans-serif;
}

#u30324-4,#u30295-4,#u30308-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30732-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30309-4,#u30520-4,#u30538-4,#u30526-4,#u30532-4,#u30518-4,#u30524-4,#u30535-4,#u30492-4,#u30499-4,#u30504-4,#u30707-4,#u30736-4
{
	font-family: dosis-n4, sans-serif;
}

#u30539-4,#u30527-4,#u30530-4,#u30519-4,#u30523-4,#u30536-4,#u30493-4,#u30494-4,#u30500-4,#u30497-4,#u30505-4,#u30506-4,#u30734-5
{
	font-family: open-sans-n4, sans-serif;
}

#u30711-4
{
	font-family: dosis-n4, sans-serif;
}

#u30713-5
{
	font-family: open-sans-n4, sans-serif;
}

#u30718-4
{
	font-family: dosis-n4, sans-serif;
}

#u30717-5
{
	font-family: open-sans-n4, sans-serif;
}

#u30729-5
{
	font-family: dosis-n4, sans-serif;
}

#u30726-4
{
	font-family: dosis-n4, sans-serif;
}

#u30735-4,#u30714-4,#u30721-4,#u30725-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30724-5
{
	font-family: open-sans-n4, sans-serif;
}

#u30682-4,#u30684-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30606-4,#u30608-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30315-4,#u30318-4,#u30320-4,#u30540-4,#u30528-4,#u30531-4,#u30517-4,#u30522-4,#u30534-4,#u30491-4,#u30498-4,#u30503-4,#u30667-4,#u30662-4,#u30657-4,#u30639-4,#u30632-4,#u30636-4,#u30644-4,#u30648-4,#u30652-4
{
	font-family: '__et-line_5';
}

#u30685-4,#u30609-4,#u30665-4,#u30663-4,#u30658-4,#u30640-4,#u30633-4,#u30637-4,#u30645-4,#u30650-4,#u30653-4,#u30577-4,#u30564-4
{
	font-family: dosis-n4, sans-serif;
}

#u30666-4,#u30661-4,#u30659-4,#u30641-4,#u30631-4,#u30635-4,#u30646-4,#u30649-4,#u30654-4,#u30568-4,#u30563-5
{
	font-family: open-sans-n4, sans-serif;
}

#u30567-4,#u30557-4
{
	font-family: dosis-n4, sans-serif;
}

#u30558-4,#u30556-5
{
	font-family: open-sans-n4, sans-serif;
}

#u30554-4,#u30578-5
{
	font-family: dosis-n4, sans-serif;
}

#u30574-4
{
	font-family: dosis-n4, sans-serif;
}

#u30571-4,#u30576-5
{
	font-family: open-sans-n4, sans-serif;
}

#u30767-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu30763.frm-sub-st #u30768-4 p,#widgetu30763.frm-subm-err-st #u30771-4 p,#widgetu30763.frm-subm-ok-st #u30769-4 p,#u30774-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu30764_input,#widgetu30764_prompt,#widgetu30772_input
{
	font-family: open-sans, sans-serif;
}

#u30364-2,#u30411-2,#u30514-4,#u30512-4,#u30734,#u30713,#u30717,#u30729-2,#u30724,#u30702-4,#u30700-4,#u30626-4,#u30612-4,#u30563-2,#u30556-2,#u30578-2,#u30576-2,#u30776
{
	font-family: '__FontAwesome_5';
}

#u30570-4,#u30777-4,#u30385-4,#u30400-4,#u30388-4,#u30395-4,#u30404-4
{
	font-family: dosis-n4, sans-serif;
}

#u30776-5,#u30401-4,#u30389-4,#u30396-4,#u30406-4
{
	font-family: open-sans-n4, sans-serif;
}

