.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26945-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26952-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33239-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33257-4
{
	font-family: open-sans-n4, sans-serif;
}

#u33260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26958-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26965-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27036-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27024-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27015-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27008-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26973-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26995-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26987-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27027-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27003-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26979-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26919-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26879-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26907-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26899-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26850-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26855-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26823-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26913-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26863-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26829-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26870-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26891-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26886-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26879,#u26907,#u26899,#u26850,#u26816,#u26837,#u26855,#u26823,#u26845,#u26913,#u26863,#u26829,#u26870,#u26891,#u26886
{
	font-family: '__FontAwesome_5';
}

#u27078-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27067-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27076-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27042-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27059-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27050-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26924-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26930-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26937-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32086-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32098-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32121-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32116-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32074-4
{
	font-family: '__FontAwesome_5';
}

#u32109-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32087-4,#u32100-4,#u32119-4,#u32114-4,#u32065-4,#u32068-4,#u32110-4,#u32111-4,#u32014-4,#u32015-5
{
	font-family: dosis-n4, sans-serif;
}

#u31704-4
{
	font-family: '__et-line_5';
}

#u31710-4,#u31705-4
{
	font-family: dosis-n4, sans-serif;
}

#u31698-4
{
	font-family: '__et-line_5';
}

#u31699-4
{
	font-family: dosis-n4, sans-serif;
}

#u31701-4
{
	font-family: '__et-line_5';
}

#u31702-4
{
	font-family: dosis-n4, sans-serif;
}

#u31682-5
{
	font-family: dosis-n4, sans-serif;
}

#u32026-4,#u32027-4,#u32019-4,#u32017-4,#u32024-4,#u32023-4,#u32021-4,#u31689-7,#u31690-4,#u31693-7,#u31692-4,#u31686-7,#u31687-4,#u31721-4,#u31720-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31718-4,#u31804-4,#u31801-4,#u31810-4,#u31808-4,#u31823-4,#u31825-4
{
	font-family: dosis-n4, sans-serif;
}

#u31826-4
{
	font-family: dosis-n4, sans-serif;
}

#u31833-4
{
	font-family: dosis-n4, sans-serif;
}

#u31834-4
{
	font-family: dosis-n4, sans-serif;
}

#u31822-4
{
	font-family: dosis-n4, sans-serif;
}

#u31819-4
{
	font-family: dosis-n4, sans-serif;
}

#u31805-4,#u31829-4,#u31815-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31813-4,#u31977-4,#u31985-4,#u31980-4,#u31966-4,#u31970-4,#u31974-4,#u31988-4,#u31952-4,#u31945-4,#u31957-4,#u31611-4,#u31621-5
{
	font-family: dosis-n4, sans-serif;
}

#u31615-4
{
	font-family: open-sans-n7, sans-serif;
}

#u31618-4
{
	font-family: dosis-n4, sans-serif;
}

#u31983-4,#u31981-4,#u31967-4,#u31972-4,#u31975-4,#u31989-4,#u31953-4,#u31950-4,#u31947-4,#u31944-4,#u31959-4,#u31958-4,#u31617-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31608-4
{
	font-family: dosis-n4, sans-serif;
}

#u31610-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31595-4
{
	font-family: dosis-n4, sans-serif;
}

#u31592-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31603-4
{
	font-family: dosis-n4, sans-serif;
}

#u31613-4,#u31605-4,#u31596-4,#u31600-4
{
	font-family: open-sans-n7, sans-serif;
}

#u31599-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31585-4,#u31587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31557-4,#u31559-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31802-4,#u31811-4,#u31807-4,#u31984-4,#u31979-4,#u31968-4,#u31971-4,#u31976-4,#u31987-4,#u31951-4,#u31946-4,#u31956-4,#u31655-4,#u31659-4,#u31650-4,#u31673-4,#u31667-4,#u31663-4,#u31641-4,#u31645-4,#u31637-4
{
	font-family: '__et-line_5';
}

#u31584-4,#u31560-4,#u31654-4,#u31658-4,#u31652-4,#u31671-4,#u31668-4,#u31664-4,#u31642-4,#u31646-4,#u31638-4,#u31875-4,#u31876-5
{
	font-family: dosis-n4, sans-serif;
}

#u31899-4
{
	font-family: dosis-n4, sans-serif;
}

#u31656-4,#u31660-4,#u31651-4,#u31672-4,#u31669-4,#u31665-4,#u31643-4,#u31647-4,#u31639-4,#u31900-4,#u31898-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31894-4,#u31884-4
{
	font-family: dosis-n4, sans-serif;
}

#u31883-4,#u31879-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31880-4,#u31888-4
{
	font-family: dosis-n4, sans-serif;
}

#u31892-4,#u31890-5
{
	font-family: open-sans-n4, sans-serif;
}

#u31853-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu31845.frm-sub-st #u31848-4 p,#widgetu31845.frm-subm-err-st #u31846-4 p,#widgetu31845.frm-subm-ok-st #u31849-4 p,#u31855-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu31850_input,#widgetu31850_prompt,#widgetu31854_input
{
	font-family: open-sans, sans-serif;
}

#u32123-4,#u32061-4,#u32015-2,#u31682-2,#u31963-4,#u31936-4,#u31621-2,#u31617,#u31610,#u31592,#u31599,#u31571-4,#u31582-4,#u31548-4,#u31544-4,#u31876-2,#u31898-2,#u31879-2,#u31890-2,#u31858
{
	font-family: '__FontAwesome_5';
}

#u31891-4,#u31859-4,#u32009-4,#u32007-4,#u32008-4,#u32010-4,#u31997-4
{
	font-family: dosis-n4, sans-serif;
}

#u31858-5,#u31994-4,#u31995-4,#u32004-4,#u31999-4
{
	font-family: open-sans-n4, sans-serif;
}

