.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26659-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26669-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32697-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32714-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26613-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26580-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26545-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26608-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26572-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26539-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26561-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26566-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26694-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26786-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26771-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26744-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26750-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26796-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26730-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26717-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26708-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26778-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26725-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26738-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26757-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26703-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26767-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26801-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26786,#u26771,#u26744,#u26750,#u26796,#u26730,#u26717,#u26708,#u26778,#u26725,#u26738,#u26757,#u26703,#u26767,#u26801
{
	font-family: '__FontAwesome_5';
}

#u26633-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26628-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26620-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26639-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26647-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26682-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35564-4
{
	font-family: open-sans-n7, sans-serif;
}

#u35483-4,#u35485-6,#u35484-4,#u35493-4,#u35562-4
{
	font-family: dosis-n4, sans-serif;
}

#u35566-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35552-4
{
	font-family: dosis-n4, sans-serif;
}

#u35550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35554-4
{
	font-family: dosis-n4, sans-serif;
}

#u35558-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35506-4
{
	font-family: dosis-n4, sans-serif;
}

#u35508-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35561-4,#u35551-4,#u35559-4,#u35503-4,#u35511-4
{
	font-family: open-sans-n7, sans-serif;
}

#u35515-4
{
	font-family: dosis-n4, sans-serif;
}

#u35517-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35497-4
{
	font-family: dosis-n4, sans-serif;
}

#u35499-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35536-4
{
	font-family: dosis-n4, sans-serif;
}

#u35535-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35530-4
{
	font-family: dosis-n4, sans-serif;
}

#u35529-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35522-4
{
	font-family: dosis-n4, sans-serif;
}

#u35512-4,#u35496-4,#u35537-4,#u35527-4,#u35523-4
{
	font-family: open-sans-n7, sans-serif;
}

#u35525-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35542-5
{
	font-family: '__FontAwesome_5';
}

#u35544-6
{
	font-family: '__FontAwesome_5';
}

#u35542-2,#u35544,#u35544-2,#u35596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35597-4,#u35581-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35582-4,#u35601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35602-4,#u35591-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35592-4,#u35587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35586-4,#u35616-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35615-4,#u35638-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35637-4,#u35626-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35625-4,#u35635-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35634-4,#u35623-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35617-4,#u35639-4,#u35629-4,#u35631-4,#u35622-4
{
	font-family: '__FontAwesome_5';
}

#u35621-4,#u35675-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35654-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35666-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35660-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35682-4
{
	font-family: open-sans-n4, sans-serif;
}

#u35605-4,#u35642-4,#u35685-4,#u35694-4
{
	font-family: dosis-n4, sans-serif;
}

