.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26659-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26669-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32697-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32714-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26613-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26580-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26545-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26608-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26572-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26539-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26561-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26566-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26694-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26786-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26771-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26744-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26750-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26796-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26730-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26717-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26708-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26778-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26725-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26738-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26757-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26703-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26767-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26801-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26786,#u26771,#u26744,#u26750,#u26796,#u26730,#u26717,#u26708,#u26778,#u26725,#u26738,#u26757,#u26703,#u26767,#u26801
{
	font-family: '__FontAwesome_5';
}

#u26633-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26628-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26620-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26639-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26647-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26682-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39025,#u39020,#u39032,#u39037
{
	font-family: open-sans-n3, sans-serif;
}

#u39027-4,#u39022-4,#u39030-4,#u39036-4,#u38829-4,#u38852-4,#u39073-4
{
	font-family: '__FontAwesome_5';
}

#u39072-4
{
	font-family: '__FontAwesome_5';
}

#u39074-4
{
	font-family: '__FontAwesome_5';
}

#u39057-4
{
	font-family: '__FontAwesome_5';
}

#u39058-4
{
	font-family: '__FontAwesome_5';
}

#u39056-4
{
	font-family: '__FontAwesome_5';
}

#u39064-4
{
	font-family: '__FontAwesome_5';
}

#u39063-4
{
	font-family: '__FontAwesome_5';
}

#u39065-4
{
	font-family: '__FontAwesome_5';
}

#u39050-4
{
	font-family: '__FontAwesome_5';
}

#u39049-4
{
	font-family: '__FontAwesome_5';
}

#u39051-4
{
	font-family: '__FontAwesome_5';
}

#u38850-4,#u38841-4,#u38837-4,#u38866-4,#u38862-4,#u38869-4
{
	font-family: '__et-line_5';
}

#u39001-4,#u39000-6,#u39002-4,#u39028-4,#u39023-4,#u39031-4,#u39035-4,#u38847-4,#u38843-4,#u38835-4,#u39105-4,#u39087-4,#u39088-4,#u39079-4,#u39082-4,#u39094-4,#u39091-4,#u39100-4,#u39099-4,#u39070-4,#u39059-4,#u39067-4,#u39046-4,#u38871-4,#u38864-4,#u38861-4,#u38868-4,#u39117-4
{
	font-family: dosis-n4, sans-serif;
}

#u39004-4,#u39008-4,#u39009-4,#u39011-4,#u39012-4,#u39005-4,#u39017-4,#u39016-4,#u38848-4,#u38849-4,#u38844-4,#u38842-4,#u38838-4,#u38836-4,#u39106-4,#u39075-4,#u39054-4,#u39066-4,#u39047-4,#u38865-4,#u38860-4,#u38870-4,#u39119-4
{
	font-family: open-sans-n4, sans-serif;
}

