.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u26489-4
{
	font-family: dosis-n4, sans-serif;
}

#u26490-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26659-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26669-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32697-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u32714-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26613-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26580-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26545-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26608-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26572-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26550-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26587-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26539-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26561-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26566-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26694-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26786-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26771-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26744-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26750-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26796-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26730-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26717-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26708-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26778-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26725-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26738-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26757-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26703-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26767-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26801-5
{
	font-family: open-sans-n4, sans-serif;
}

#u26786,#u26771,#u26744,#u26750,#u26796,#u26730,#u26717,#u26708,#u26778,#u26725,#u26738,#u26757,#u26703,#u26767,#u26801
{
	font-family: '__FontAwesome_5';
}

#u26633-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26628-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26620-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26639-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26647-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26689-4
{
	font-family: open-sans-n4, sans-serif;
}

#u26682-4
{
	font-family: open-sans-n4, sans-serif;
}

#u37717-2,#u37727-4
{
	font-family: open-sans-i4, sans-serif;
}

#u37715-4,#u37716-4,#u37714-4,#u37717-5,#u37720-20,#u37720-18 > li:before,#u37720-7,#u37720-9,#u37720-11,#u37721-20,#u37721-7,#u37721-9,#u37721-11,#u37725-4,#u37731-4,#u37732-4,#u37734-4,#u37735-4,#u37737-4,#u37738-4,#u37740-4,#u37741-4,#u37743-4,#u37744-4
{
	font-family: open-sans-n4, sans-serif;
}

#u37726-4,#u37746-4,#u37747-4
{
	font-family: open-sans-n7, sans-serif;
}

#u37708-4,#u37710-9,#u37709-4,#u37718-4,#u37722-4,#u37723-4,#u37724-4,#u37730-4,#u37733-4,#u37736-4,#u37739-4,#u37742-4,#u37745-4
{
	font-family: dosis-n4, sans-serif;
}

#u37748-4
{
	font-family: dosis-n7, sans-serif;
}

