#u26804
{
	-pie-box-shadow: none;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	opacity: 0.97;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	filter: alpha(opacity=97);
}

