/*

*/

.version.header_dark /* version checker */
{
	color: #0000E0;
	background-color: #433EFD;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1573px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu55918
{
	width: 0.01px;
}

#u55918
{
	z-index: 52;
	min-height: 254px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 56px;
	background: #FAFAFA url("../../images/section-bg-1-u55918-fr.png") no-repeat center top;
	background-color: rgba(247,247,247,0.6);
	background-size: cover;
}

#top
{
	position: relative;
}

#u55920-10
{
	z-index: 54;
	width: 350px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #111111;
	font-size: 11px;
	letter-spacing: 3px;
	line-height: 13px;
	text-transform: uppercase;
	text-align: left;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 92px;
	position: relative;
}

#u55920-3
{
	color: #F7F7F7;
}

#u55920-4,#u55920-7
{
	color: #FFFFFF;
}

#u55921-4
{
	z-index: 64;
	width: 350px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	letter-spacing: 15px;
	line-height: 36px;
	text-transform: uppercase;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 47px;
	position: relative;
}

#u55922-4
{
	z-index: 68;
	width: 350px;
	background-color: transparent;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 3px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u55918-bw
{
	z-index: 52;
	min-height: 254px;
}

#u55584
{
	z-index: 73;
	width: 150px;
	height: 75px;
	margin-right: -10000px;
	left: 25px;
}

#u55909,#u55909-bw
{
	z-index: 72;
	min-height: 75px;
}

#pamphletu55585
{
	z-index: 74;
	width: 0.01px;
	height: 46px;
	padding-bottom: 29px;
	margin-right: -10000px;
	left: 302px;
}

#u55593popup
{
	z-index: 75;
}

#u55593
{
	width: 120px;
	top: 74px;
	left: -287px;
}

#u55594
{
	z-index: 76;
	width: 120px;
	height: 305px;
	margin-right: -10000px;
}

#menuu55595
{
	z-index: 77;
	width: 120px;
	margin-right: -10000px;
}

#u55708
{
	width: 120px;
}

#u55746
{
	width: 120px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u55747-4
{
	width: 106px;
	min-height: 13px;
	margin-right: -10000px;
	top: 18px;
}

#u55749
{
	z-index: 84;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 18px;
	left: 106px;
}

#u55714
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55714:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55716-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55714:hover #u55716-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55714:active #u55716-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55742
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55714.MuseMenuActive,#u55742:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55743-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55714.MuseMenuActive #u55716-4,#u55742:hover #u55743-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55742:active #u55743-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55726
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55742.MuseMenuActive,#u55726:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55728-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55742.MuseMenuActive #u55743-4,#u55726:hover #u55728-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55726:active #u55728-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55719
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55726.MuseMenuActive,#u55719:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55720-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55726.MuseMenuActive #u55728-4,#u55719:hover #u55720-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55719:active #u55720-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55733
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55719.MuseMenuActive,#u55733:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55736-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55719.MuseMenuActive #u55720-4,#u55733:hover #u55736-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55733:active #u55736-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55683
{
	width: 120px;
	padding-bottom: 35px;
	margin-right: -10000px;
}

#u55746.MuseMenuActive,#u55683:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55685-4
{
	width: 106px;
	min-height: 13px;
	margin-right: -10000px;
	top: 17px;
}

#u55746.MuseMenuActive #u55747-4,#u55683:hover #u55685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u55686
{
	z-index: 123;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 17px;
	left: 106px;
}

#u55746.MuseMenuActive #u55749,#u55683:hover #u55686
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55600
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55733.MuseMenuActive,#u55600:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55601-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55733.MuseMenuActive #u55736-4,#u55600:hover #u55601-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55600:active #u55601-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55623
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55600.MuseMenuActive,#u55623:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55624-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55600.MuseMenuActive #u55601-4,#u55623:hover #u55624-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55623:active #u55624-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55665
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55623.MuseMenuActive,#u55665:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55668-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55623.MuseMenuActive #u55624-4,#u55665:hover #u55668-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55665:active #u55668-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55679
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55665.MuseMenuActive,#u55679:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55681-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55665.MuseMenuActive #u55668-4,#u55679:hover #u55681-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55679:active #u55681-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55670
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55679.MuseMenuActive,#u55670:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55673-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55679.MuseMenuActive #u55681-4,#u55670:hover #u55673-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55670:active #u55673-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55628
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55670.MuseMenuActive,#u55628:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55629-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55670.MuseMenuActive #u55673-4,#u55628:hover #u55629-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55628:active #u55629-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55651
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55628.MuseMenuActive,#u55651:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55653-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55628.MuseMenuActive #u55629-4,#u55651:hover #u55653-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55651:active #u55653-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55635
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55651.MuseMenuActive,#u55635:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55636-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55651.MuseMenuActive #u55653-4,#u55635:hover #u55636-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55635:active #u55636-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55644
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55635.MuseMenuActive,#u55644:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55645-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55635.MuseMenuActive #u55636-4,#u55644:hover #u55645-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55644:active #u55645-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55656
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55644.MuseMenuActive,#u55656:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55658-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55644.MuseMenuActive #u55645-4,#u55656:hover #u55658-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55656:active #u55658-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55616
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55656.MuseMenuActive,#u55616:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55618-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55656.MuseMenuActive #u55658-4,#u55616:hover #u55618-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55616:active #u55618-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55607
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55616.MuseMenuActive,#u55607:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55610-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55616.MuseMenuActive #u55618-4,#u55607:hover #u55610-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55607:active #u55610-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55793
{
	width: 120px;
	padding-bottom: 35px;
	margin-right: -10000px;
}

#u55683.MuseMenuActive,#u55793:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55796-4
{
	width: 106px;
	min-height: 13px;
	margin-right: -10000px;
	top: 17px;
}

#u55683.MuseMenuActive #u55685-4,#u55793:hover #u55796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u55794
{
	z-index: 204;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 17px;
	left: 106px;
}

#u55683.MuseMenuActive #u55686,#u55793:hover #u55794
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55797
{
	width: 224px;
	left: 120px;
}

#u55798
{
	width: 224px;
	padding-top: 3px;
	padding-bottom: 5px;
}

#u55835
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55835:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55837-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55835:hover #u55837-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55872
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55835.MuseMenuActive,#u55872:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55873-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55835.MuseMenuActive #u55837-5,#u55872:hover #u55873-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55814
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55872.MuseMenuActive,#u55814:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55816-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55872.MuseMenuActive #u55873-5,#u55814:hover #u55816-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55802
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55814.MuseMenuActive,#u55802:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55805-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55814.MuseMenuActive #u55816-5,#u55802:hover #u55805-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55821
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55802.MuseMenuActive,#u55821:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55822-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55802.MuseMenuActive #u55805-5,#u55821:hover #u55822-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55877
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55821.MuseMenuActive,#u55877:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55878-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55821.MuseMenuActive #u55822-5,#u55877:hover #u55878-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55830
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55877.MuseMenuActive,#u55830:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55833-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55877.MuseMenuActive #u55878-5,#u55830:hover #u55833-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55849
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55830.MuseMenuActive,#u55849:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55851-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55830.MuseMenuActive #u55833-5,#u55849:hover #u55851-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55886
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55849.MuseMenuActive,#u55886:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55888-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55849.MuseMenuActive #u55851-5,#u55886:hover #u55888-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55844
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55886.MuseMenuActive,#u55844:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55845-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55886.MuseMenuActive #u55888-5,#u55844:hover #u55845-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55898
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55844.MuseMenuActive,#u55898:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55900-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55844.MuseMenuActive #u55845-5,#u55898:hover #u55900-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55858
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55898.MuseMenuActive,#u55858:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55859-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55898.MuseMenuActive #u55900-5,#u55858:hover #u55859-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55865
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55858.MuseMenuActive,#u55865:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55868-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55858.MuseMenuActive #u55859-5,#u55865:hover #u55868-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55809
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55865.MuseMenuActive,#u55809:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55810-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55865.MuseMenuActive #u55868-5,#u55809:hover #u55810-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55834,#u55869,#u55813,#u55799,#u55820,#u55876,#u55827,#u55848,#u55883,#u55841,#u55897,#u55855,#u55862,#u55806,#u55890
{
	width: 224px;
}

#u55891
{
	width: 224px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u55809.MuseMenuActive,#u55891:hover
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55891.MuseMenuActive
{
	width: 224px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55894-5
{
	width: 216px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u55809.MuseMenuActive #u55810-5,#u55891:hover #u55894-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55891.MuseMenuActive #u55894-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 216px;
	margin: 0px -10000px 0px 0px;
}

#u55688
{
	width: 120px;
	padding-bottom: 35px;
	margin-right: -10000px;
}

#u55793.MuseMenuActive,#u55688:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55691-4
{
	width: 106px;
	min-height: 13px;
	margin-right: -10000px;
	top: 17px;
}

#u55793.MuseMenuActive #u55796-4,#u55688:hover #u55691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u55690
{
	z-index: 318;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 17px;
	left: 106px;
}

#u55793.MuseMenuActive #u55794,#u55688:hover #u55690
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55709,#u55597,#u55692
{
	width: 220px;
	left: 120px;
}

#u55710,#u55598,#u55693
{
	width: 220px;
	padding-top: 3px;
	padding-bottom: 5px;
}

#u55695
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55607.MuseMenuActive,#u55695:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55696-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55607.MuseMenuActive #u55610-4,#u55695:hover #u55696-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55695:active #u55696-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55711,#u55739,#u55725,#u55718,#u55732,#u55599,#u55620,#u55662,#u55676,#u55669,#u55627,#u55648,#u55634,#u55641,#u55655,#u55613,#u55606,#u55694,#u55701
{
	width: 220px;
}

#u55702
{
	width: 220px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55695.MuseMenuActive,#u55702:hover
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55702.MuseMenuActive
{
	width: 220px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55704-4
{
	width: 212px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55695.MuseMenuActive #u55696-4,#u55702:hover #u55704-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55702:active #u55704-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55702.MuseMenuActive #u55704-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 212px;
	margin: 0px -10000px 0px 0px;
}

#u55772
{
	width: 120px;
	padding-bottom: 35px;
	margin-right: -10000px;
}

#u55688.MuseMenuActive,#u55772:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55774-4
{
	width: 106px;
	min-height: 13px;
	margin-right: -10000px;
	top: 17px;
}

#u55688.MuseMenuActive #u55691-4,#u55772:hover #u55774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u55775
{
	z-index: 339;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 17px;
	left: 106px;
}

#u55688.MuseMenuActive #u55690,#u55772:hover #u55775
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55776
{
	width: 226px;
	left: 120px;
}

#u55777
{
	width: 226px;
	padding-top: 3px;
	padding-bottom: 5px;
}

#u55779
{
	width: 226px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55779:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55780-4
{
	width: 218px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55779:hover #u55780-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 218px;
	margin: 0px -10000px 0px 0px;
}

#u55779:active #u55780-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 218px;
	margin: 0px -10000px 0px 0px;
}

#u55778,#u55785
{
	width: 226px;
}

#u55786
{
	width: 226px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55779.MuseMenuActive,#u55786:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55786.MuseMenuActive
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55789-4
{
	width: 218px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55779.MuseMenuActive #u55780-4,#u55786:hover #u55789-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 218px;
	margin: 0px -10000px 0px 0px;
}

#u55786:active #u55789-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 218px;
	margin: 0px -10000px 0px 0px;
}

#u55786.MuseMenuActive #u55789-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 218px;
	margin: 0px -10000px 0px 0px;
}

#u55596,#u55792,#u55687,#u55771,#u55750
{
	width: 120px;
	margin-top: 2px;
}

#u55751
{
	width: 120px;
	padding-bottom: 35px;
	margin-right: -10000px;
}

#u55772.MuseMenuActive,#u55751:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55751.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55753-4
{
	width: 106px;
	min-height: 13px;
	margin-right: -10000px;
	top: 17px;
}

#u55772.MuseMenuActive #u55774-4,#u55751:hover #u55753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u55751.MuseMenuActive #u55753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u55754
{
	z-index: 360;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 17px;
	left: 106px;
}

#u55772.MuseMenuActive #u55775,#u55751:hover #u55754
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55751.MuseMenuActive #u55754
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55755
{
	width: 204px;
	left: 120px;
}

#u55756
{
	width: 204px;
	padding-top: 3px;
	padding-bottom: 5px;
}

#u55760
{
	width: 204px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55760:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55761-4
{
	width: 196px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55760:hover #u55761-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u55760:active #u55761-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u55757,#u55764
{
	width: 204px;
}

#u55765
{
	width: 204px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u55760.MuseMenuActive,#u55765:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55765.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u55767-4
{
	width: 196px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u55760.MuseMenuActive #u55761-4,#u55765:hover #u55767-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u55765:active #u55767-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u55765.MuseMenuActive #u55767-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u55587
{
	z-index: 375;
	width: 20px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 35px;
}

#u55588
{
	width: 20px;
	top: -29px;
	left: -35px;
	padding: 29px 8px 29.000000000000114px 35px;
}

#u55588.PamphletThumbSelected
{
	width: 20px;
	min-height: 0px;
	margin: 0px;
}

#u55591
{
	z-index: 377;
	width: 20px;
	height: 3px;
	left: -1px;
}

#u55588.PamphletThumbSelected #u55591
{
	width: 20px;
	height: 3px;
	min-height: 0px;
	margin: 0px;
}

#u55589
{
	z-index: 378;
	width: 20px;
	height: 3px;
	left: -1px;
	margin-top: 4px;
}

#u55590
{
	z-index: 379;
	width: 20px;
	height: 3px;
	left: -1px;
	margin-top: 4px;
}

#u55588.PamphletThumbSelected #u55589,#u55588.PamphletThumbSelected #u55590
{
	width: 20px;
	height: 3px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#u55923-7
{
	z-index: 45;
	width: 334px;
	background-color: transparent;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 24px;
	color: #777777;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 90px;
	position: relative;
}

#u46422
{
	z-index: 2;
	min-height: 332px;
	padding: 59px 15px 15px 75px;
}

#u46439
{
	z-index: 40;
	width: 106px;
	min-height: 40px;
	margin-left: 62px;
}

#u46425
{
	z-index: 11;
	width: 78px;
	margin-left: 76px;
	margin-top: 31px;
}

#u46442
{
	z-index: 14;
	width: 198px;
	padding-bottom: 5px;
	margin-left: 16px;
	margin-top: 36px;
}

#buttonu46427
{
	z-index: 15;
	width: 22px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#buttonu46427:hover
{
	width: 22px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u46428-4
{
	z-index: 16;
	width: 9px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#buttonu46427:hover #u46428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 9px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46427.ButtonSelected #u46428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 9px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46429
{
	z-index: 20;
	width: 22px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 46px;
}

#buttonu46427.ButtonSelected,#buttonu46429:hover
{
	width: 22px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u46430-4
{
	z-index: 21;
	width: 13px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#buttonu46429:hover #u46430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 13px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46429.ButtonSelected #u46430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 13px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46431
{
	z-index: 25;
	width: 22px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 87px;
}

#buttonu46429.ButtonSelected,#buttonu46431:hover
{
	width: 22px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u46432-4
{
	z-index: 26;
	width: 16px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#buttonu46431:hover #u46432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 16px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46431.ButtonSelected #u46432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 16px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46433
{
	z-index: 30;
	width: 22px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 128px;
}

#buttonu46431.ButtonSelected,#buttonu46433:hover
{
	width: 22px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u46434-4
{
	z-index: 31;
	width: 12px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#buttonu46433:hover #u46434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 12px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46435
{
	z-index: 35;
	width: 22px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 169px;
}

#buttonu46433.ButtonSelected,#buttonu46435:hover
{
	width: 22px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#buttonu46435.ButtonSelected
{
	width: 22px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u46436-4
{
	z-index: 36;
	width: 12px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#buttonu46433.ButtonSelected #u46434-4,#buttonu46435:hover #u46436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 12px;
	margin: 4px -10000px 0px 0px;
}

#buttonu46435.ButtonSelected #u46436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 12px;
	margin: 4px -10000px 0px 0px;
}

#u46437
{
	z-index: 13;
	width: 106px;
	min-height: 40px;
	margin-left: 62px;
	margin-top: 45px;
}

#ppu46423-4
{
	width: 0.01px;
	margin-top: 22px;
	position: relative;
}

#pu46423-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u46423-4
{
	z-index: 3;
	width: 230px;
}

#u46424-4
{
	z-index: 7;
	width: 230px;
	margin-top: 10px;
}

#u55924-4
{
	z-index: 41;
	width: 50px;
	min-height: 50px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 240px;
}

#u55924-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 50px;
	margin: 4px -10000px 0px 0px;
}

#u46422-bw
{
	z-index: 2;
	min-height: 332px;
	margin-top: 95px;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../../fonts/fontawesome-webfont.woff') format('woff'), url('../../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

