.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47225-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47233-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47241-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47253-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47162-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47202-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47174-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47181-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47209-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47188-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47166-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47214-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47196-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47309-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47318-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47409-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47395-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47368-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47338-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47388-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47325-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47330-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47372-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47417-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47352-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47381-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47360-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47345-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47402-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47318,#u47409,#u47395,#u47368,#u47338,#u47388,#u47325,#u47330,#u47372,#u47417,#u47352,#u47381,#u47360,#u47345,#u47402
{
	font-family: '__FontAwesome_5';
}

#u47304-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47292-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47300-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47284-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47279-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47116-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47126-4
{
	font-family: open-sans-n4, sans-serif;
}

#u53985-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu53977.frm-sub-st #u53987-4 p,#widgetu53977.frm-subm-err-st #u54001-4 p,#widgetu53977.frm-subm-ok-st #u53992-4 p,#u53989-4
{
	font-family: open-sans-n4, sans-serif;
}

#u53996-4
{
	font-family: open-sans-n4, sans-serif;
}

#u53982-4
{
	font-family: open-sans-n4, sans-serif;
}

#u54005-4
{
	font-family: open-sans-n4, sans-serif;
}

#u54000-4
{
	font-family: open-sans-n4, sans-serif;
}

#u53976-5,#u54009-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu54006.frm-sub-st #u54021-4 p,#widgetu54006.frm-subm-err-st #u54007-4 p,#widgetu54006.frm-subm-ok-st #u54022-4 p,#u54019-4
{
	font-family: open-sans-n4, sans-serif;
}

#u54013-4
{
	font-family: open-sans-n4, sans-serif;
}

#u54034-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu54026.frm-sub-st #u54042-4 p,#widgetu54026.frm-subm-err-st #u54028-4 p,#widgetu54026.frm-subm-ok-st #u54027-4 p,#u54039-4
{
	font-family: open-sans-n4, sans-serif;
}

#u54031-4
{
	font-family: open-sans-n4, sans-serif;
}

#u53971-9,#u53972-4,#u53973-4,#u54023-4,#u54059-4
{
	font-family: dosis-n4, sans-serif;
}

#u54043-5,#u54056-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu54046.frm-sub-st #u54057-4 p,#widgetu54046.frm-subm-err-st #u54048-4 p,#widgetu54046.frm-subm-ok-st #u54058-4 p,#u54050-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu53983_input,#widgetu53983_prompt,#widgetu53988_input,#widgetu53993_input,#widgetu53993_prompt,#widgetu53979_input,#widgetu53979_prompt,#widgetu54002_input,#widgetu54002_prompt,#widgetu53997_input,#widgetu53997_prompt,#widgetu54008_input,#widgetu54008_prompt,#widgetu54016_input,#widgetu54012_input,#widgetu54012_prompt,#widgetu54033_input,#widgetu54033_prompt,#widgetu54037_input,#widgetu54029_input,#widgetu54029_prompt,#widgetu54053_input,#widgetu54053_prompt,#widgetu54049_input
{
	font-family: open-sans, sans-serif;
}

#u54045-5
{
	font-family: open-sans-n4, sans-serif;
}

#u53976,#u54043,#u54045
{
	font-family: '__FontAwesome_5';
}

