.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47225-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47233-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47241-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47253-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47162-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47202-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47174-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47181-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47209-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47188-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47166-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47214-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47196-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47309-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47318-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47409-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47395-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47368-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47338-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47388-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47325-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47330-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47372-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47417-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47352-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47381-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47360-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47345-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47402-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47318,#u47409,#u47395,#u47368,#u47338,#u47388,#u47325,#u47330,#u47372,#u47417,#u47352,#u47381,#u47360,#u47345,#u47402
{
	font-family: '__FontAwesome_5';
}

#u47304-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47292-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47300-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47284-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47279-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47116-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47126-4
{
	font-family: open-sans-n4, sans-serif;
}

#u52094-4,#u52100-4,#u52103-4
{
	font-family: '__et-line_5';
}

#u52143-5,#u52142-5,#u52141-7
{
	font-family: open-sans-n7, sans-serif;
}

#u52091-6,#u52089-4,#u52090-4,#u52097-4,#u52095-4,#u52101-4,#u52104-4,#u52133-4,#u52131-4,#u52136-4,#u52140-4,#u52147-4,#u52149-4
{
	font-family: dosis-n4, sans-serif;
}

#u52150-4
{
	font-family: dosis-n4, sans-serif;
}

#u52157-4
{
	font-family: dosis-n4, sans-serif;
}

#u52154-4
{
	font-family: dosis-n4, sans-serif;
}

#u52159-4
{
	font-family: dosis-n4, sans-serif;
}

#u52160-4
{
	font-family: dosis-n4, sans-serif;
}

#u52164-4
{
	font-family: dosis-n4, sans-serif;
}

#u52167-4
{
	font-family: dosis-n4, sans-serif;
}

#u52098-4,#u52134-4,#u52130-4,#u52137-4,#u52143-2,#u52142-2,#u52141-2,#u52141-3,#u52144-4,#u52146-4,#u52177-5
{
	font-family: open-sans-n4, sans-serif;
}

#u52179-5
{
	font-family: open-sans-n4, sans-serif;
}

#u52175-5
{
	font-family: open-sans-n4, sans-serif;
}

#u52121-4,#u52117-4,#u52177,#u52179,#u52175-2
{
	font-family: '__FontAwesome_5';
}

