.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55716-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55743-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55728-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55720-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55736-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55685-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55624-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55668-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55681-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55629-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55636-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55645-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55658-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55610-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55796-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55873-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55805-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55822-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55878-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55833-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55851-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55888-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55900-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55859-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55868-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55810-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55894-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55837,#u55873,#u55816,#u55805,#u55822,#u55878,#u55833,#u55851,#u55888,#u55845,#u55900,#u55859,#u55868,#u55810,#u55894
{
	font-family: '__FontAwesome_5';
}

#u55691-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55696-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55774-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55780-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55789-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55753-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55761-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49135-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49124-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49105-4
{
	font-family: '__FontAwesome_5';
}

#u49094-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49128-4,#u49131-4,#u49125-4,#u49118-4,#u49114-4,#u49115-4,#u49092-4,#u49095-4,#u48777-4,#u48779-5
{
	font-family: dosis-n4, sans-serif;
}

#u48741-4
{
	font-family: '__et-line_5';
}

#u48728-4,#u48740-4
{
	font-family: dosis-n4, sans-serif;
}

#u48734-4
{
	font-family: '__et-line_5';
}

#u48735-4
{
	font-family: dosis-n4, sans-serif;
}

#u48738-4
{
	font-family: '__et-line_5';
}

#u48737-4
{
	font-family: dosis-n4, sans-serif;
}

#u48756-5
{
	font-family: dosis-n4, sans-serif;
}

#u48771-4,#u48772-4,#u48775-4,#u48776-4,#u48766-4,#u48767-4,#u48778-4,#u48749-7,#u48748-4,#u48751-7,#u48752-4,#u48755-7,#u48754-4,#u48725-4,#u48724-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49031-4,#u49033-4,#u49018-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48726-4,#u49030-4,#u49010-4,#u49013-4,#u49021-4,#u49032-4,#u49016-4,#u48651-4,#u48659-4,#u48653-4,#u48669-4,#u48663-4,#u48666-4,#u48675-4,#u48699-4,#u48685-4,#u48693-4,#u48859-4,#u48858-5
{
	font-family: dosis-n4, sans-serif;
}

#u48844-4
{
	font-family: open-sans-n7, sans-serif;
}

#u48847-4
{
	font-family: dosis-n4, sans-serif;
}

#u48658-4,#u48655-4,#u48671-4,#u48662-4,#u48667-4,#u48674-4,#u48696-4,#u48698-4,#u48686-4,#u48687-4,#u48690-4,#u48691-4,#u48846-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48864-4
{
	font-family: dosis-n4, sans-serif;
}

#u48862-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48854-4
{
	font-family: dosis-n4, sans-serif;
}

#u48853-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48838-4
{
	font-family: dosis-n4, sans-serif;
}

#u48848-4,#u48863-4,#u48855-4,#u48839-4
{
	font-family: open-sans-n7, sans-serif;
}

#u48841-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48886-4,#u48889-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48830-4,#u48833-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49009-4,#u49014-4,#u49022-4,#u48657-4,#u48654-4,#u48670-4,#u48661-4,#u48665-4,#u48673-4,#u48697-4,#u48684-4,#u48692-4,#u48940-4,#u48934-4,#u48916-4,#u48930-4,#u48919-4,#u48950-4,#u48945-4,#u48926-4,#u48954-4
{
	font-family: '__et-line_5';
}

#u48887-4,#u48831-4,#u48939-4,#u48935-4,#u48914-4,#u48931-4,#u48920-4,#u48949-4,#u48944-4,#u48925-4,#u48956-4,#u48602-4,#u48601-5
{
	font-family: dosis-n4, sans-serif;
}

#u48594-4
{
	font-family: dosis-n4, sans-serif;
}

#u48941-4,#u48936-4,#u48915-4,#u48929-4,#u48921-4,#u48951-4,#u48946-4,#u48924-4,#u48955-4,#u48595-4,#u48597-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48598-4,#u48610-4
{
	font-family: dosis-n4, sans-serif;
}

#u48604-4,#u48609-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48605-4,#u48588-4
{
	font-family: dosis-n4, sans-serif;
}

#u48586-4,#u48592-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48561-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu48551.frm-sub-st #u48552-4 p,#widgetu48551.frm-subm-err-st #u48553-4 p,#widgetu48551.frm-subm-ok-st #u48554-4 p,#u48556-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu48560_input,#widgetu48560_prompt,#widgetu48555_input
{
	font-family: open-sans, sans-serif;
}

#u49075-4,#u49073-4,#u48779-2,#u48756-2,#u48858-2,#u48846,#u48862,#u48853,#u48841,#u48896-4,#u48898-4,#u48869-4,#u48874-4,#u48601-2,#u48597-2,#u48609-2,#u48592-2,#u48564
{
	font-family: '__FontAwesome_5';
}

#u48587-4,#u48565-4,#u48632-4,#u48627-4,#u48622-4,#u48614-4,#u48631-4
{
	font-family: dosis-n4, sans-serif;
}

#u48564-5,#u48624-4,#u48621-4,#u48615-4,#u48630-4
{
	font-family: open-sans-n4, sans-serif;
}

