.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47225-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47233-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47241-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47253-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47162-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47202-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47174-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47181-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47209-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47188-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47166-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47214-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47196-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47309-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47318-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47409-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47395-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47368-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47338-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47388-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47325-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47330-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47372-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47417-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47352-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47381-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47360-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47345-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47402-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47318,#u47409,#u47395,#u47368,#u47338,#u47388,#u47325,#u47330,#u47372,#u47417,#u47352,#u47381,#u47360,#u47345,#u47402
{
	font-family: '__FontAwesome_5';
}

#u47304-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47292-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47300-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47284-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47279-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47116-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47126-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55547-2,#u55559-4
{
	font-family: open-sans-i4, sans-serif;
}

#u55544-4,#u55545-4,#u55548-4,#u55547-5,#u55553-20,#u55553-18 > li:before,#u55553-7,#u55553-9,#u55553-11,#u55556-20,#u55556-7,#u55556-9,#u55556-11,#u55557-4,#u55563-4,#u55566-4,#u55569-4,#u55572-4,#u55575-4,#u55564-4,#u55567-4,#u55570-4,#u55573-4,#u55576-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55558-4,#u55578-4,#u55579-4
{
	font-family: open-sans-n7, sans-serif;
}

#u55538-9,#u55539-4,#u55540-4,#u55542-4,#u55552-4,#u55555-4,#u55550-4,#u55562-4,#u55565-4,#u55568-4,#u55571-4,#u55574-4,#u55577-4
{
	font-family: dosis-n4, sans-serif;
}

#u55580-4
{
	font-family: dosis-n7, sans-serif;
}

