.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55716-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55743-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55728-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55720-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55736-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55685-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55624-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55668-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55681-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55629-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55636-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55645-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55658-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55610-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55796-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55873-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55805-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55822-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55878-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55833-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55851-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55888-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55900-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55859-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55868-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55810-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55894-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55837,#u55873,#u55816,#u55805,#u55822,#u55878,#u55833,#u55851,#u55888,#u55845,#u55900,#u55859,#u55868,#u55810,#u55894
{
	font-family: '__FontAwesome_5';
}

#u55691-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55696-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55774-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55780-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55789-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55753-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55761-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50925-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50927-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50905-4,#u50911-4,#u50913-4,#u50909-4,#u50383-4,#u50384-5
{
	font-family: dosis-n4, sans-serif;
}

#u50833-4
{
	font-family: '__et-line_5';
}

#u50829-4,#u50834-4
{
	font-family: dosis-n4, sans-serif;
}

#u50840-4
{
	font-family: '__et-line_5';
}

#u50839-4
{
	font-family: dosis-n4, sans-serif;
}

#u50836-4
{
	font-family: '__et-line_5';
}

#u50837-4
{
	font-family: dosis-n4, sans-serif;
}

#u50828-5
{
	font-family: dosis-n4, sans-serif;
}

#u50388-4,#u50387-4,#u50381-4,#u50382-4,#u50377-4,#u50378-4,#u50374-4,#u50855-7,#u50856-4,#u50850-7,#u50849-4,#u50853-7,#u50852-4,#u50865-4,#u50864-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50482-4,#u50466-4,#u50474-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50866-4,#u50481-4,#u50486-4,#u50468-4,#u50490-4,#u50483-4,#u50475-4,#u50447-4,#u50428-4,#u50444-4,#u50437-4,#u50433-4,#u50440-4,#u50451-4,#u50411-4,#u50407-4,#u50401-4,#u50741-4,#u50758-5
{
	font-family: dosis-n4, sans-serif;
}

#u50751-4
{
	font-family: open-sans-n7, sans-serif;
}

#u50753-4
{
	font-family: dosis-n4, sans-serif;
}

#u50429-4,#u50445-4,#u50438-4,#u50434-4,#u50441-4,#u50450-4,#u50413-4,#u50412-4,#u50404-4,#u50405-4,#u50399-4,#u50398-4,#u50755-5
{
	font-family: open-sans-n4, sans-serif;
}

#u50760-4
{
	font-family: dosis-n4, sans-serif;
}

#u50762-5
{
	font-family: open-sans-n4, sans-serif;
}

#u50772-4
{
	font-family: dosis-n4, sans-serif;
}

#u50770-5
{
	font-family: open-sans-n4, sans-serif;
}

#u50748-4
{
	font-family: dosis-n4, sans-serif;
}

#u50752-4,#u50765-4,#u50771-4,#u50743-4
{
	font-family: open-sans-n7, sans-serif;
}

#u50745-5
{
	font-family: open-sans-n4, sans-serif;
}

#u50718-4,#u50721-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50631-4,#u50634-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50487-4,#u50469-4,#u50489-4,#u50430-4,#u50446-4,#u50436-4,#u50432-4,#u50442-4,#u50449-4,#u50410-4,#u50406-4,#u50400-4,#u50681-4,#u50657-4,#u50671-4,#u50647-4,#u50675-4,#u50661-4,#u50685-4,#u50652-4,#u50667-4
{
	font-family: '__et-line_5';
}

#u50719-4,#u50632-4,#u50682-4,#u50655-4,#u50672-4,#u50646-4,#u50676-4,#u50660-4,#u50687-4,#u50650-4,#u50666-4,#u50822-4,#u50797-5
{
	font-family: dosis-n4, sans-serif;
}

#u50803-4
{
	font-family: dosis-n4, sans-serif;
}

#u50680-4,#u50656-4,#u50670-4,#u50645-4,#u50677-4,#u50662-4,#u50686-4,#u50651-4,#u50665-4,#u50801-4,#u50800-5
{
	font-family: open-sans-n4, sans-serif;
}

#u50802-4,#u50807-4
{
	font-family: dosis-n4, sans-serif;
}

#u50810-4,#u50809-5
{
	font-family: open-sans-n4, sans-serif;
}

#u50813-4,#u50817-4
{
	font-family: dosis-n4, sans-serif;
}

#u50816-4,#u50821-5
{
	font-family: open-sans-n4, sans-serif;
}

#u50611-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu50599.frm-sub-st #u50600-4 p,#widgetu50599.frm-subm-err-st #u50607-4 p,#widgetu50599.frm-subm-ok-st #u50601-4 p,#u50604-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu50608_input,#widgetu50608_prompt,#widgetu50603_input
{
	font-family: open-sans, sans-serif;
}

#u50384-2,#u50828-2,#u50758-2,#u50755,#u50762,#u50770,#u50745,#u50738-4,#u50736-4,#u50707-4,#u50709-4,#u50797-2,#u50800-2,#u50809-2,#u50821-2,#u50612
{
	font-family: '__FontAwesome_5';
}

#u50815-4,#u50613-4,#u50558-4,#u50562-4,#u50554-4,#u50566-4,#u50570-4
{
	font-family: dosis-n4, sans-serif;
}

#u50612-5,#u50563-4,#u50555-4,#u50565-4,#u50572-4
{
	font-family: open-sans-n4, sans-serif;
}

