.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47225-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47233-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47241-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47253-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47162-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47202-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47174-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47181-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47209-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47188-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47166-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47214-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47196-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47309-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47318-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47409-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47395-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47368-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47338-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47388-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47325-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47330-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47372-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47417-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47352-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47381-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47360-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47345-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47402-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47318,#u47409,#u47395,#u47368,#u47338,#u47388,#u47325,#u47330,#u47372,#u47417,#u47352,#u47381,#u47360,#u47345,#u47402
{
	font-family: '__FontAwesome_5';
}

#u47304-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47292-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47300-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47284-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47279-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47116-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47126-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51936-4,#u51947-7,#u51941-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51958-7,#u51951-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51939-4,#u51952-4,#u51963-4
{
	font-family: '__FontAwesome_5';
}

#u51943-4,#u51957-4,#u51966-4
{
	font-family: open-sans-n7, sans-serif;
}

#u51964-7,#u51969-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51933-6,#u51934-4,#u51935-4,#u51946-4,#u51945-4,#u51942-4,#u51944-4,#u51955-4,#u51954-4,#u51953-4,#u51956-4,#u51965-4,#u51961-4,#u51962-4,#u51967-4,#u51974-4
{
	font-family: dosis-n4, sans-serif;
}

#u51975-4,#u51977-4
{
	font-family: open-sans-n4, sans-serif;
}

