.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47225-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47233-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47241-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47253-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47162-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47202-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47174-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47138-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47145-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47181-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47153-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47209-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47188-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47166-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47214-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47196-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47309-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47318-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47409-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47395-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47368-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47338-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47388-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47325-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47330-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47372-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47417-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47352-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47381-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47360-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47345-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47402-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47318,#u47409,#u47395,#u47368,#u47338,#u47388,#u47325,#u47330,#u47372,#u47417,#u47352,#u47381,#u47360,#u47345,#u47402
{
	font-family: '__FontAwesome_5';
}

#u47304-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47292-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47300-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47284-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47279-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47116-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47126-4
{
	font-family: open-sans-n4, sans-serif;
}

#u51439,#u51447,#u51432,#u51444
{
	font-family: open-sans-n3, sans-serif;
}

#u51437-4,#u51449-4,#u51434-4,#u51442-4
{
	font-family: '__FontAwesome_5';
}

#u51542-4,#u51548-4,#u51554-4,#u51648-4,#u51669-4,#u51652-4,#u51665-4,#u51662-4,#u51657-4
{
	font-family: '__et-line_5';
}

#u51409-6,#u51410-4,#u51411-4,#u51438-4,#u51450-4,#u51435-4,#u51443-4,#u51541-4,#u51546-4,#u51552-4,#u51569-4,#u51632-4,#u51633-4,#u51622-4,#u51623-4,#u51615-4,#u51614-4,#u51626-4,#u51627-4,#u51650-4,#u51649-4,#u51668-4,#u51654-4,#u51666-4,#u51661-4,#u51658-4,#u51675-4
{
	font-family: dosis-n4, sans-serif;
}

#u51429-4,#u51417-4,#u51416-4,#u51426-4,#u51427-4,#u51423-4,#u51421-4,#u51419-4,#u51543-4,#u51540-4,#u51549-4,#u51547-4,#u51553-4,#u51555-4,#u51570-4,#u51647-4,#u51670-4,#u51653-4,#u51664-4,#u51660-4,#u51656-4,#u51674-4
{
	font-family: open-sans-n4, sans-serif;
}

