.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55716-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55743-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55728-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55720-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55736-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55685-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55624-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55668-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55681-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55629-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55636-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55645-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55658-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55610-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55796-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55873-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55805-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55822-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55878-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55833-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55851-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55888-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55900-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55859-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55868-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55810-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55894-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55837,#u55873,#u55816,#u55805,#u55822,#u55878,#u55833,#u55851,#u55888,#u55845,#u55900,#u55859,#u55868,#u55810,#u55894
{
	font-family: '__FontAwesome_5';
}

#u55691-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55696-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55774-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55780-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55789-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55753-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55761-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48532-4
{
	font-family: open-sans-n3, sans-serif;
}

#u48531-4,#u48047-4,#u48048-5
{
	font-family: dosis-n4, sans-serif;
}

#u48017-4
{
	font-family: '__et-line_5';
}

#u48022-4,#u48018-4
{
	font-family: dosis-n4, sans-serif;
}

#u48021-4
{
	font-family: '__et-line_5';
}

#u48020-4
{
	font-family: dosis-n4, sans-serif;
}

#u48014-4
{
	font-family: '__et-line_5';
}

#u48015-4
{
	font-family: dosis-n4, sans-serif;
}

#u47994-5
{
	font-family: dosis-n4, sans-serif;
}

#u48040-4,#u48041-4,#u48044-4,#u48046-4,#u48037-4,#u48036-4,#u48049-4,#u48002-7,#u48001-4,#u48005-7,#u48004-4,#u47999-7,#u47998-4,#u48030-4,#u48029-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47980-4,#u47982-4,#u47976-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48027-4,#u47981-4,#u47969-4,#u47991-4,#u47987-4,#u47983-4,#u47977-4,#u48214-4,#u48237-4,#u48216-4,#u48233-4,#u48226-4,#u48222-4,#u48229-4,#u48261-4,#u48249-4,#u48258-4,#u48291-4,#u48313-5
{
	font-family: dosis-n4, sans-serif;
}

#u48321-4
{
	font-family: open-sans-n7, sans-serif;
}

#u48322-4
{
	font-family: dosis-n4, sans-serif;
}

#u48238-4,#u48218-4,#u48234-4,#u48225-4,#u48221-4,#u48230-4,#u48263-4,#u48262-4,#u48251-4,#u48250-4,#u48257-4,#u48256-4,#u48316-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48298-4
{
	font-family: dosis-n4, sans-serif;
}

#u48294-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48301-4
{
	font-family: dosis-n4, sans-serif;
}

#u48305-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48309-4
{
	font-family: dosis-n4, sans-serif;
}

#u48317-4,#u48295-4,#u48300-4,#u48312-4
{
	font-family: open-sans-n7, sans-serif;
}

#u48311-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48330-4,#u48332-4
{
	font-family: open-sans-n4, sans-serif;
}

#u48326-4,#u48325-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47968-4,#u47990-4,#u47988-4,#u48236-4,#u48217-4,#u48232-4,#u48224-4,#u48220-4,#u48228-4,#u48264-4,#u48252-4,#u48255-4,#u48349-4,#u48375-4,#u48339-4,#u48381-4,#u48355-4,#u48344-4,#u48359-4,#u48371-4,#u48364-4
{
	font-family: '__et-line_5';
}

#u48329-4,#u48327-4,#u48351-4,#u48376-4,#u48340-4,#u48380-4,#u48354-4,#u48346-4,#u48361-4,#u48370-4,#u48365-4,#u48060-4,#u48059-5
{
	font-family: dosis-n4, sans-serif;
}

#u48072-4
{
	font-family: dosis-n4, sans-serif;
}

#u48350-4,#u48374-4,#u48341-4,#u48379-4,#u48356-4,#u48345-4,#u48360-4,#u48369-4,#u48366-4,#u48070-4,#u48074-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48071-4,#u48064-4
{
	font-family: dosis-n4, sans-serif;
}

#u48062-4,#u48068-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48063-4,#u48083-4
{
	font-family: dosis-n4, sans-serif;
}

#u48078-4,#u48080-5
{
	font-family: open-sans-n4, sans-serif;
}

#u48162-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu48158.frm-sub-st #u48170-4 p,#widgetu48158.frm-subm-err-st #u48168-4 p,#widgetu48158.frm-subm-ok-st #u48169-4 p,#u48167-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu48160_input,#widgetu48160_prompt,#widgetu48164_input
{
	font-family: open-sans, sans-serif;
}

#u48048-2,#u47994-2,#u48313-2,#u48316,#u48294,#u48305,#u48311,#u48421-4,#u48419-4,#u48411-4,#u48415-4,#u48059-2,#u48074-2,#u48068-2,#u48080-2,#u48172
{
	font-family: '__FontAwesome_5';
}

#u48084-4,#u48171-4,#u48102-4,#u48105-4,#u48094-4,#u48089-4,#u48098-4
{
	font-family: dosis-n4, sans-serif;
}

#u48172-5,#u48104-4,#u48093-4,#u48088-4,#u48100-4
{
	font-family: open-sans-n4, sans-serif;
}

