.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55716-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55743-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55728-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55720-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55736-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55685-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55624-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55668-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55681-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55629-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55636-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55645-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55658-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55610-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55796-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55873-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55805-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55822-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55878-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55833-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55851-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55888-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55900-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55859-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55868-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55810-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55894-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55837,#u55873,#u55816,#u55805,#u55822,#u55878,#u55833,#u55851,#u55888,#u55845,#u55900,#u55859,#u55868,#u55810,#u55894
{
	font-family: '__FontAwesome_5';
}

#u55691-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55696-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55774-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55780-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55789-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55753-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55761-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47519-4
{
	font-family: open-sans-n3, sans-serif;
}

#u47518-4,#u47530-4,#u47543-5
{
	font-family: dosis-n4, sans-serif;
}

#u47558-4
{
	font-family: '__et-line_5';
}

#u47547-4,#u47557-4
{
	font-family: dosis-n4, sans-serif;
}

#u47575-4
{
	font-family: '__et-line_5';
}

#u47576-4
{
	font-family: dosis-n4, sans-serif;
}

#u47577-4
{
	font-family: '__et-line_5';
}

#u47578-4
{
	font-family: dosis-n4, sans-serif;
}

#u47546-5
{
	font-family: dosis-n4, sans-serif;
}

#u47536-4,#u47538-4,#u47534-4,#u47532-4,#u47540-4,#u47541-4,#u47544-4,#u47567-7,#u47568-4,#u47571-7,#u47570-4,#u47574-7,#u47573-4,#u47583-4,#u47585-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47595-4,#u47611-4,#u47656-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47582-4,#u47594-4,#u47597-4,#u47603-4,#u47601-4,#u47622-4,#u47657-4,#u47676-4,#u47674-4,#u47687-4,#u47665-4,#u47678-4,#u47683-4,#u47670-4,#u47706-4,#u47713-4,#u47701-4,#u47729-4,#u47730-5
{
	font-family: dosis-n4, sans-serif;
}

#u47750-4
{
	font-family: open-sans-n7, sans-serif;
}

#u47746-4
{
	font-family: dosis-n4, sans-serif;
}

#u47673-4,#u47688-4,#u47667-4,#u47679-4,#u47684-4,#u47669-4,#u47708-4,#u47705-4,#u47711-4,#u47712-4,#u47702-4,#u47699-4,#u47753-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47744-4
{
	font-family: dosis-n4, sans-serif;
}

#u47743-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47723-4
{
	font-family: dosis-n4, sans-serif;
}

#u47725-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47734-4
{
	font-family: dosis-n4, sans-serif;
}

#u47751-4,#u47739-4,#u47728-4,#u47735-4
{
	font-family: open-sans-n7, sans-serif;
}

#u47733-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47780-4,#u47783-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47790-4,#u47792-4
{
	font-family: open-sans-n4, sans-serif;
}

#u47598-4,#u47604-4,#u47600-4,#u47675-4,#u47686-4,#u47666-4,#u47680-4,#u47682-4,#u47671-4,#u47707-4,#u47714-4,#u47700-4,#u47857-4,#u47861-4,#u47852-4,#u47843-4,#u47848-4,#u47840-4,#u47834-4,#u47826-4,#u47832-4
{
	font-family: '__et-line_5';
}

#u47781-4,#u47789-4,#u47858-4,#u47860-4,#u47854-4,#u47844-4,#u47849-4,#u47841-4,#u47835-4,#u47827-4,#u47831-4,#u47899-4,#u47898-5
{
	font-family: dosis-n4, sans-serif;
}

#u47897-4
{
	font-family: dosis-n4, sans-serif;
}

#u47856-4,#u47862-4,#u47853-4,#u47845-4,#u47847-4,#u47839-4,#u47836-4,#u47828-4,#u47830-4,#u47894-4,#u47896-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47893-4,#u47904-4
{
	font-family: dosis-n4, sans-serif;
}

#u47907-4,#u47906-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47903-4,#u47912-4
{
	font-family: dosis-n4, sans-serif;
}

#u47911-4,#u47910-5
{
	font-family: open-sans-n4, sans-serif;
}

#u47933-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu47925.frm-sub-st #u47930-4 p,#widgetu47925.frm-subm-err-st #u47937-4 p,#widgetu47925.frm-subm-ok-st #u47935-4 p,#u47929-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu47931_input,#widgetu47931_prompt,#widgetu47926_input
{
	font-family: open-sans, sans-serif;
}

#u47543-2,#u47546-2,#u47730-2,#u47753,#u47743,#u47725,#u47733,#u47767-4,#u47771-4,#u47809-4,#u47797-4,#u47898-2,#u47896-2,#u47906-2,#u47910-2,#u47923
{
	font-family: '__FontAwesome_5';
}

#u47915-4,#u47924-4,#u47943-4,#u47946-4,#u47950-4,#u47954-4,#u47942-4
{
	font-family: dosis-n4, sans-serif;
}

#u47923-5,#u47947-4,#u47951-4,#u47955-4,#u47941-4
{
	font-family: open-sans-n4, sans-serif;
}

