.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u46423-4
{
	font-family: dosis-n4, sans-serif;
}

#u46424-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55716-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55743-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55728-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55720-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55736-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55685-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55601-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55624-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55668-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55681-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55673-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55629-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55653-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55636-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55645-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55658-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55610-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55796-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55837-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55873-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55816-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55805-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55822-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55878-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55833-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55851-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55888-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55845-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55900-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55859-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55868-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55810-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55894-5
{
	font-family: open-sans-n4, sans-serif;
}

#u55837,#u55873,#u55816,#u55805,#u55822,#u55878,#u55833,#u55851,#u55888,#u55845,#u55900,#u55859,#u55868,#u55810,#u55894
{
	font-family: '__FontAwesome_5';
}

#u55691-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55696-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55704-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55774-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55780-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55789-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55753-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55761-4
{
	font-family: open-sans-n4, sans-serif;
}

#u55767-4
{
	font-family: open-sans-n4, sans-serif;
}

#u50324-4
{
	font-family: '__FontAwesome_5';
}

#u50334-4
{
	font-family: '__FontAwesome_5';
}

#u50349-4
{
	font-family: '__FontAwesome_5';
}

#u50350-4
{
	font-family: dosis-n4, sans-serif;
}

#u50341-4,#u50340-4,#u49200-4,#u49201-5
{
	font-family: dosis-n4, sans-serif;
}

#u49409-4
{
	font-family: '__et-line_5';
}

#u49403-4,#u49408-4
{
	font-family: dosis-n4, sans-serif;
}

#u49412-4
{
	font-family: '__et-line_5';
}

#u49411-4
{
	font-family: dosis-n4, sans-serif;
}

#u49415-4
{
	font-family: '__et-line_5';
}

#u49414-4
{
	font-family: dosis-n4, sans-serif;
}

#u49404-5
{
	font-family: dosis-n4, sans-serif;
}

#u49198-4,#u49199-4,#u49190-4,#u49191-4,#u49193-4,#u49194-4,#u49187-4,#u49422-7,#u49423-4,#u49429-7,#u49428-4,#u49425-7,#u49426-4,#u49433-4,#u49435-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49220-4,#u49209-4,#u49216-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49436-4,#u49219-4,#u49213-4,#u49222-4,#u49204-4,#u49210-4,#u49217-4,#u49257-4,#u49243-4,#u49254-4,#u49265-4,#u49252-4,#u49247-4,#u49260-4,#u49282-4,#u49288-4,#u49279-4,#u49689-4,#u49658-5
{
	font-family: dosis-n4, sans-serif;
}

#u49675-4
{
	font-family: open-sans-n7, sans-serif;
}

#u49676-4
{
	font-family: dosis-n4, sans-serif;
}

#u49242-4,#u49255-4,#u49263-4,#u49250-4,#u49248-4,#u49259-4,#u49283-4,#u49284-4,#u49289-4,#u49291-4,#u49277-4,#u49278-4,#u49679-5
{
	font-family: open-sans-n4, sans-serif;
}

#u49663-4
{
	font-family: dosis-n4, sans-serif;
}

#u49665-5
{
	font-family: open-sans-n4, sans-serif;
}

#u49683-4
{
	font-family: dosis-n4, sans-serif;
}

#u49688-5
{
	font-family: open-sans-n4, sans-serif;
}

#u49667-4
{
	font-family: dosis-n4, sans-serif;
}

#u49677-4,#u49660-4,#u49684-4,#u49668-4
{
	font-family: open-sans-n7, sans-serif;
}

#u49670-5
{
	font-family: open-sans-n4, sans-serif;
}

#u49571-4,#u49574-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49708-4,#u49711-4
{
	font-family: open-sans-n4, sans-serif;
}

#u49212-4,#u49223-4,#u49205-4,#u49244-4,#u49256-4,#u49264-4,#u49251-4,#u49246-4,#u49261-4,#u49285-4,#u49290-4,#u49276-4,#u49589-4,#u49624-4,#u49609-4,#u49604-4,#u49613-4,#u49597-4,#u49592-4,#u49618-4,#u49629-4
{
	font-family: '__et-line_5';
}

#u49572-4,#u49709-4,#u49588-4,#u49622-4,#u49607-4,#u49602-4,#u49614-4,#u49599-4,#u49594-4,#u49619-4,#u49627-4,#u49321-4,#u49320-5
{
	font-family: dosis-n4, sans-serif;
}

#u49335-4
{
	font-family: dosis-n4, sans-serif;
}

#u49587-4,#u49623-4,#u49608-4,#u49603-4,#u49612-4,#u49598-4,#u49593-4,#u49617-4,#u49628-4,#u49334-4,#u49332-5
{
	font-family: open-sans-n4, sans-serif;
}

#u49333-4,#u49342-4
{
	font-family: dosis-n4, sans-serif;
}

#u49345-4,#u49341-5
{
	font-family: open-sans-n4, sans-serif;
}

#u49339-4,#u49323-4
{
	font-family: dosis-n4, sans-serif;
}

#u49329-4,#u49328-5
{
	font-family: open-sans-n4, sans-serif;
}

#u49309-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu49299.frm-sub-st #u49306-4 p,#widgetu49299.frm-subm-err-st #u49307-4 p,#widgetu49299.frm-subm-ok-st #u49305-4 p,#u49301-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu49308_input,#widgetu49308_prompt,#widgetu49300_input
{
	font-family: open-sans, sans-serif;
}

#u49201-2,#u49404-2,#u49658-2,#u49679,#u49665,#u49688,#u49670,#u49645-4,#u49647-4,#u49694-4,#u49692-4,#u49320-2,#u49332-2,#u49341-2,#u49328-2,#u49312
{
	font-family: '__FontAwesome_5';
}

#u49324-4,#u49313-4,#u49378-4,#u49372-4,#u49368-4,#u49361-4,#u49377-4
{
	font-family: dosis-n4, sans-serif;
}

#u49312-5,#u49373-4,#u49365-4,#u49360-4,#u49376-4
{
	font-family: open-sans-n4, sans-serif;
}

