.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u212-4
{
	font-family: dosis-n4, sans-serif;
}

#u213-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20207-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20201-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28740-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30997-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28745-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20093-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20113-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20164-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20102-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20135-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20130-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20169-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20157-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20107-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20143-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20339-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20292-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20258-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20281-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20316-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20235-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20302-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20309-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20272-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20263-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20285-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20250-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20244-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20336-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20328-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20321-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20292,#u20258,#u20281,#u20316,#u20235,#u20302,#u20309,#u20272,#u20263,#u20285,#u20250,#u20244,#u20336,#u20328,#u20321
{
	font-family: '__FontAwesome_5';
}

#u20087-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20083-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20075-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20193-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20186-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20179-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20221-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20226-4
{
	font-family: open-sans-n4, sans-serif;
}

#u38725,#u38729,#u38735,#u38739
{
	font-family: open-sans-n3, sans-serif;
}

#u38727-4,#u38731-4,#u38737-4,#u38741-4,#u38092-4,#u38094-4,#u38547-4
{
	font-family: '__FontAwesome_5';
}

#u38548-4
{
	font-family: '__FontAwesome_5';
}

#u38549-4
{
	font-family: '__FontAwesome_5';
}

#u38554-4
{
	font-family: '__FontAwesome_5';
}

#u38553-4
{
	font-family: '__FontAwesome_5';
}

#u38552-4
{
	font-family: '__FontAwesome_5';
}

#u38561-4
{
	font-family: '__FontAwesome_5';
}

#u38562-4
{
	font-family: '__FontAwesome_5';
}

#u38563-4
{
	font-family: '__FontAwesome_5';
}

#u38587-4
{
	font-family: '__FontAwesome_5';
}

#u38588-4
{
	font-family: '__FontAwesome_5';
}

#u38589-4
{
	font-family: '__FontAwesome_5';
}

#u38076-4,#u38089-4,#u38082-4,#u38004-4,#u38014-4,#u38011-4
{
	font-family: '__et-line_5';
}

#u38537-4,#u38536-4,#u38538-6,#u38724-4,#u38732-4,#u38734-4,#u38742-4,#u38075-4,#u38088-4,#u38081-4,#u38636-4,#u38070-4,#u38067-4,#u38064-4,#u38063-4,#u38057-4,#u38058-4,#u38583-4,#u38580-4,#u38544-4,#u38555-4,#u38558-4,#u38590-4,#u38007-4,#u38006-4,#u38015-4,#u38009-4,#u38615-4
{
	font-family: dosis-n4, sans-serif;
}

#u38644-4,#u38645-4,#u38648-4,#u38647-4,#u38656-4,#u38657-4,#u38654-4,#u38652-4,#u38078-4,#u38077-4,#u38090-4,#u38087-4,#u38084-4,#u38083-4,#u38637-4,#u38545-4,#u38556-4,#u38559-4,#u38591-4,#u38005-4,#u38013-4,#u38010-4,#u38617-4
{
	font-family: open-sans-n4, sans-serif;
}

