.title-thumb,.desc-thumb
{
	font-family: dosis-n4, sans-serif;
}

.tag
{
	font-family: open-sans-n4, sans-serif;
}

.i-top,.i-scroll,.i-social
{
	font-family: '__FontAwesome_5';
}

#u212-4
{
	font-family: dosis-n4, sans-serif;
}

#u213-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20804-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20813-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28752-4
{
	font-family: open-sans-n4, sans-serif;
}

#u30281-4
{
	font-family: open-sans-n4, sans-serif;
}

#u31002-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28759-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20719-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20748-4
{
	font-family: open-sans-n4, sans-serif;
}

#u39133-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20729-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20734-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20778-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20792-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20741-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20781-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20771-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20762-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20796-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20757-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20925-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20883-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20897-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20822-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20905-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20854-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20877-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20863-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20919-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20827-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20848-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20869-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20891-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20840-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20833-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20912-5
{
	font-family: open-sans-n4, sans-serif;
}

#u20883,#u20897,#u20822,#u20905,#u20854,#u20877,#u20863,#u20919,#u20827,#u20848,#u20869,#u20891,#u20840,#u20833,#u20912
{
	font-family: '__FontAwesome_5';
}

#u20693-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20687-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20680-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20671-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20660-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20666-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20699-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20708-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20712-4
{
	font-family: open-sans-n4, sans-serif;
}

#u379-4
{
	font-family: open-sans-n3, sans-serif;
}

#u553.PamphletThumbSelected #u557-4 p,#u359-4,#u413-4,#u416-5
{
	font-family: dosis-n4, sans-serif;
}

#u532-4
{
	font-family: '__et-line_5';
}

#u454-4,#u533-4
{
	font-family: dosis-n4, sans-serif;
}

#u544-4
{
	font-family: '__et-line_5';
}

#u545-4
{
	font-family: dosis-n4, sans-serif;
}

#u550-4
{
	font-family: '__et-line_5';
}

#u551-4
{
	font-family: dosis-n4, sans-serif;
}

#u556-4
{
	font-family: '__et-line_5';
}

#u557-4
{
	font-family: dosis-n4, sans-serif;
}

#u562-4
{
	font-family: '__et-line_5';
}

#u563-4
{
	font-family: dosis-n4, sans-serif;
}

#u457-5
{
	font-family: dosis-n4, sans-serif;
}

#u420-4,#u422-4,#u431-4,#u429-4,#u437-4,#u438-4,#u414-4,#u415-4,#u536-7,#u534-4,#u535-4,#u566-7,#u564-4,#u565-4,#u569-7,#u567-4,#u568-4,#u572-7,#u570-4,#u571-4,#u575-7,#u573-4,#u574-4,#u591-4,#u596-4
{
	font-family: open-sans-n4, sans-serif;
}

#u590-4,#u614-4,#u617-4,#u624-4,#u631-4,#u634-4,#u655-4
{
	font-family: dosis-n4, sans-serif;
}

#u656-4
{
	font-family: dosis-n4, sans-serif;
}

#u666-4
{
	font-family: dosis-n4, sans-serif;
}

#u667-4
{
	font-family: dosis-n4, sans-serif;
}

#u678-4
{
	font-family: dosis-n4, sans-serif;
}

#u681-4
{
	font-family: dosis-n4, sans-serif;
}

#u616-4,#u635-4,#u717-4
{
	font-family: open-sans-n4, sans-serif;
}

#u954-4
{
	font-family: open-sans-n7, sans-serif;
}

#u714-4,#u787-4,#u742-4,#u752-4,#u760-4,#u784-4,#u780-4,#u776-4,#u810-4,#u820-4,#u830-4,#u928-4,#u943-4
{
	font-family: dosis-n4, sans-serif;
}

#u743-4,#u753-4,#u761-4,#u785-4,#u781-4,#u777-4,#u811-4,#u812-4,#u821-4,#u822-4,#u831-4,#u832-4,#u950-5
{
	font-family: open-sans-n4, sans-serif;
}

#u976-4
{
	font-family: dosis-n4, sans-serif;
}

#u975-5
{
	font-family: open-sans-n4, sans-serif;
}

#u996-4
{
	font-family: dosis-n4, sans-serif;
}

#u1001-5
{
	font-family: open-sans-n4, sans-serif;
}

#u929-5
{
	font-family: dosis-n4, sans-serif;
}

#u1018-4
{
	font-family: dosis-n4, sans-serif;
}

#u944-4,#u979-4,#u999-4,#u1019-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1021-5
{
	font-family: open-sans-n4, sans-serif;
}

#u1093-4,#u1097-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1119-4,#u1122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u618-4,#u625-4,#u630-4,#u744-4,#u751-4,#u759-4,#u783-4,#u779-4,#u775-4,#u809-4,#u819-4,#u829-4,#u1168-4,#u1207-4,#u1237-4,#u1247-4,#u1249-4,#u1255-4,#u1258-4,#u1261-4,#u1266-4
{
	font-family: '__et-line_5';
}

#u1092-4,#u1120-4,#u1169-4,#u1205-4,#u1238-4,#u1246-4,#u1251-4,#u1253-4,#u1257-4,#u1263-4,#u1265-4,#u1321-4,#u1340-4
{
	font-family: dosis-n4, sans-serif;
}

#u1190-4,#u1206-4,#u1239-4,#u1245-4,#u1250-4,#u1254-4,#u1259-4,#u1262-4,#u1267-4,#u1342-4,#u1345-5
{
	font-family: open-sans-n4, sans-serif;
}

#u1341-4,#u1363-4
{
	font-family: dosis-n4, sans-serif;
}

#u1362-4,#u1361-5
{
	font-family: open-sans-n4, sans-serif;
}

#u1357-4,#u1322-5
{
	font-family: dosis-n4, sans-serif;
}

#u1377-4
{
	font-family: dosis-n4, sans-serif;
}

#u1381-4,#u1376-5
{
	font-family: open-sans-n4, sans-serif;
}

#u1417-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu1404.frm-sub-st #u1409-4 p,#widgetu1404.frm-subm-err-st #u1420-4 p,#widgetu1404.frm-subm-ok-st #u1411-4 p,#u1406-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu1416_input,#widgetu1416_prompt,#widgetu1405_input
{
	font-family: open-sans, sans-serif;
}

#u416-2,#u457-2,#u801-4,#u803-4,#u950,#u975,#u1001,#u929-2,#u1021,#u1051-4,#u1053-4,#u1117-4,#u1103-4,#u1345-2,#u1361-2,#u1322-2,#u1376-2,#u1403
{
	font-family: '__FontAwesome_5';
}

#u1380-4,#u1402-4,#u1439-4,#u1440-4,#u1453-4,#u1466-4,#u1470-4
{
	font-family: dosis-n4, sans-serif;
}

#u1403-5,#u1441-4,#u1454-4,#u1463-4,#u1473-4
{
	font-family: open-sans-n4, sans-serif;
}

